Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

.pre-commit-config.yaml:

repos:
  # General purpose
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check # Linting
        args: [--fix] # Auto-fix issues
      - id: ruff-format # Formatting

  # Python type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && pyright'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.tsx?$
        pass_filenames: false

  # JavaScript/TypeScript and other Prettier compatible files
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        # Runs prettier on staged, removing the `frontend/` prefix to work with relative filepaths
        entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: true

mock data for develoment
  frontend/src/app/student/page.tsx
Due: tsc, prettier

Refactor party export functionality to use Excel format instead of CSV (#166)
  backend/pyproject.toml
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  frontend/src/lib/api/party/party.service.ts
Due: pyright, tsc, prettier

fixed docker issues and implemented everything
  .devcontainer/docker-compose.yml
Due: none

bug: fixed registration checkbox not reflecting database (#200)
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

feat: Add validation for contact two phone number to differ from contact one phone number in staff party update form
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
Due: tsc, prettier

feat: Add tests for admin and student party update endpoints to ensure contact two differs from contact one
  backend/test/modules/party/party_router_test.py
Due: pyright

respond to comments
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/addIncidentDialog.tsx
Due: tsc, prettier

respond to further comments
  frontend/src/app/police/_components/addIncidentDialog.tsx
Due: tsc, prettier

fix post
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
Due: tsc, prettier

feat: student responsive design wip
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
Due: tsc, prettier

fixing failing tests
  backend/src/modules/account/account_entity.py
Due: pyright

Implemented changes
  backend/pyproject.toml
  backend/src/core/authentication.py
  backend/src/core/config.py
  backend/src/main.py
  backend/src/modules/__init__.py
  backend/src/modules/auth/__init__.py
  backend/src/modules/auth/auth_entity.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/test/conftest.py
  backend/test/modules/auth/__init__.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/auth/conftest.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

feat: student responsive design browser views
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
Due: tsc, prettier

fixed/resolved issues from PR
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
Due: tsc, prettier

added additional fixes/updates
  frontend/src/app/police/page.tsx
Due: tsc, prettier

updated docker compose file
  .devcontainer/docker-compose.yml
Due: none

Police incidents view (#199)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/addIncidentDialog.tsx
  frontend/src/components/icons/navyFlag.svg
  frontend/src/components/icons/redFlag.svg
  frontend/src/components/icons/yellowFlag.svg
  frontend/src/components/ui/hover-card.tsx
Due: tsc, prettier

added residences to the backend
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
Due: pyright

added tests
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
Due: pyright

fixed some tests and some code
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/conftest.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/utils/http/test_templates.py
Due: pyright

fixed merge conflicts and resulting issues
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
Due: pyright

Removed SplitDateComponent file
  frontend/src/app/police/_components/SplitDateComponent.tsx
Due: tsc, prettier

resolved yellow underline issues
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
Due: tsc, prettier

fixed issues in docker compose file
  .devcontainer/docker-compose.yml
Due: none

removed warning/citation columns, added info chip column with sidebar information loading
  frontend/src/app/staff/_components/location/LocationTable.tsx
Due: tsc, prettier

Added new components for incident sidebar component, implemented functionality and passing objects.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/components/ui/collapsible.tsx
Due: tsc, prettier

Updating incident count function
  frontend/src/app/staff/_components/location/LocationTable.tsx
Due: tsc, prettier

Updated card with dropdown element, working on delete function
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
Due: tsc, prettier

added final touches to the incident sidebar, should be completed.
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
Due: tsc, prettier

feat: adjust student profile information layout
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/profile/page.tsx
Due: tsc, prettier

chore: remove mock data
  frontend/package-lock.json
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
Due: tsc, prettier

Student Responsive Design (#212)
  backend/pyproject.toml
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
Due: tsc, prettier

Police View Responsive Design (#193)
  .devcontainer/docker-compose.yml
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

hopefully ts works
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  backend/test/modules/party/party_router_test.py
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
Due: pyright, tsc, prettier

added role handling, added severity status to dropdown.
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
Due: tsc, prettier

removed setRole from role handling
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
Due: tsc, prettier

more changes
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

Student edit delete commit
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
  backend/test/modules/student/student_router_test.py
Due: pyright

Testing duplicates
  backend/test/modules/account/account_router_test.py
Due: pyright

fix: backend config for devcontainer
  backend/pyproject.toml
Due: none
