Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

hierarchy fix
  frontend/src/app/staff/_components/location/IncidentModal.tsx
Due: tsc, prettier

incident type fix
  frontend/src/app/staff/_components/location/IncidentModal.tsx
Due: tsc, prettier

fix date
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
Due: tsc, prettier

refactor: DRY up incident severity types
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/lib/api/incident/incident.types.ts
Due: tsc, prettier

fix(local setup): saml check always timed out
  .devcontainer/setup_local.sh
Due: none

change italics and add pencil and trash to dropdown
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
Due: tsc, prettier

Incident sidebar styles (#296)
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/IncidentModal.tsx
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
Due: tsc, prettier

feat: small ui tweaks, fix query updates, consolidate add incident dialog
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/IncidentModal.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/hover-card.tsx
  frontend/src/lib/api/incident/incident.queries.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/party/police-party.queries.ts
  frontend/src/lib/shared.ts
Due: tsc, prettier

feat: ui tweaks
  frontend/src/app/police/_components/PartyList.tsx
Due: tsc, prettier

fix: pre-commit
  frontend/src/app/police/_components/PartyList.tsx
Due: tsc, prettier

add search tests to query_utils
  backend/test/modules/query_utils/test_query_utils.py
Due: pyright

PR UP
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/test_party_list_features.py
  backend/test/modules/student/student_router_test.py
  frontend/package-lock.json
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/shared/query-params.ts
Due: pyright, tsc, prettier

make error handling consistent; remove unnecessary try-catch block
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/police/police.service.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.service.ts
Due: tsc, prettier

Student Signup Flow
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_service_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/party/details/StudentInfoChipDetails.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

feat: Implement police admin role, endpoints, and frontend components
  backend/script/reset_dev.py
  backend/src/core/authentication.py
  backend/src/modules/account/account_model.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/test/conftest.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  backend/test/utils/http/test_templates.py
  frontend/package-lock.json
  frontend/shared/mock_data.json
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/police/admin/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/police/police.types.ts
  frontend/src/lib/mockData.ts
  frontend/src/lib/shared.ts
  frontend/src/lib/utils.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

feat: Add link to police admin dashboard in profile dropdown for police admin users
  frontend/src/components/Header.tsx
Due: tsc, prettier

freeze the sidebar impl
  frontend/package-lock.json
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
Due: tsc, prettier

map zoom impl. also pan+zoom effect that happens occasionally is resolved
  frontend/src/app/police/_components/EmbeddedMap.tsx
Due: tsc, prettier

original impl of initials
  frontend/src/components/Header.tsx
  frontend/src/components/ui/avatar.tsx
Due: tsc, prettier

feat: admin csv export
  backend/src/main.py
  backend/src/modules/account/account_router.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/student/student_router.py
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/incident/incident.queries.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/shared/download-file.ts
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: pyright, tsc, prettier

map zoom impl. also pan+zoom effect that happens occasionally is resolved (#325)
  frontend/src/app/police/_components/EmbeddedMap.tsx
Due: tsc, prettier

feat: unregistered location incident tracking
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  frontend/src/app/police/_components/ExactMatchCard.tsx
  frontend/src/app/police/page.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/party/police-party.queries.ts
Due: pyright, tsc, prettier

Clickable phone numbers in police views (#283)
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/components/PhoneLink.tsx
Due: tsc, prettier

reorganized the party card according to the figma (base work done)
  frontend/src/app/police/_components/PartyList.tsx
Due: tsc, prettier

reorganized the party card according to the figma (base work done) (#270)
  frontend/src/app/police/_components/PartyList.tsx
Due: tsc, prettier

use isAxiosError()
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

fix: Remove ability for police admins to update other police accounts' passwords
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/lib/api/police/police.types.ts
Due: pyright, tsc, prettier

chore: Add backend check + test to prevent police admins from deleting their own accounts
  backend/src/modules/police/police_router.py
  backend/test/modules/police/police_router_test.py
Due: pyright

Police Admin (#322)
  backend/script/reset_dev.py
  backend/src/core/authentication.py
  backend/src/modules/account/account_model.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/test/conftest.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  backend/test/utils/http/test_templates.py
  frontend/package-lock.json
  frontend/shared/mock_data.json
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/police/admin/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/Header.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/police/police.types.ts
  frontend/src/lib/mockData.ts
  frontend/src/lib/shared.ts
  frontend/src/lib/utils.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

add cases for errors
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

mrege updates
  frontend/src/lib/api/location/location.service.ts
Due: tsc, prettier

Frontend Error Handling (#310)
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/police/police.service.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.service.ts
Due: tsc, prettier

fixed pagination responsiveness
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  frontend/package-lock.json
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  package-lock.json
Due: tsc, prettier

pagination fixes on the police
  frontend/src/app/police/_components/PartyList.tsx
Due: tsc, prettier

feat: add skeleton loading to cards
  frontend/src/app/globals.css
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/ui/skeleton.tsx
Due: tsc, prettier

PR Comments
  backend/src/modules/auth/auth_router.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: pyright, tsc, prettier

fixes
  backend/test/modules/student/student_service_test.py
Due: pyright

feat: police signup logic
  .devcontainer/docker-compose.yml
  .devcontainer/setup_local.sh
  backend/pyproject.toml
  backend/script/reset_dev.py
  backend/src/core/config.py
  backend/src/core/utils/email_utils.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/test/conftest.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  frontend/.env.template
  frontend/shared/mock_data.json
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/login/police/page.tsx
  frontend/src/app/police/_components/ResendVerificationButton.tsx
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/app/police/verify/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/auth/auth.queries.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/lib/api/police/police.types.ts
  frontend/src/lib/mockData.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

feat: enforce chpd email domain
  backend/src/core/config.py
  backend/src/modules/police/police_service.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  frontend/.env.template
  frontend/src/app/police/signup/page.tsx
Due: pyright, tsc, prettier

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
