Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

fix: install babel-plugin-react-compiler peer dep for Next.js React Compiler
  frontend/package-lock.json
  frontend/package.json
Due: prettier

fix: opt TableTemplate out of React Compiler; install babel-plugin dep
  frontend/src/app/staff/_components/shared/details/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

fix: stabilize columnFilterMap by value in useServerTableState
  frontend/src/app/staff/_components/shared/table/useServerTableState.ts
Due: tsc, prettier

table fixes
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/table.ts
  frontend/e2e/test/police/admin.spec.ts
  frontend/e2e/test/staff/accounts.spec.ts
Due: tsc, prettier

fix: table forms and sorting
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/shared/details/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/sidebar/Sidebar.tsx
  frontend/src/app/staff/_components/shared/sidebar/SidebarContent.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/shared/table/useServerTableState.ts
  frontend/src/components/ui/pagination.tsx
  frontend/src/lib/api/location/location.queries.ts
Due: tsc, prettier

feat: migrate frontend to React Compiler (#458)
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationIncidentCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationPartyCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/admin/_components/PoliceAccountsTable.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/details/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/sidebar/Sidebar.tsx
  frontend/src/app/staff/_components/shared/sidebar/SidebarContent.tsx
  frontend/src/app/staff/_components/shared/sidebar/SidebarContext.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/shared/table/useServerTableState.ts
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/StudentSearch.tsx
  frontend/src/components/ui/field.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/lib/api/location/location.queries.ts
Due: tsc, prettier

fix: update initial tests
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/helpers/fixtures.ts
  frontend/e2e/test/police/admin.spec.ts
  frontend/e2e/test/staff/accounts.spec.ts
  frontend/e2e/test/staff/incidents.spec.ts
  frontend/e2e/test/staff/locations.spec.ts
  frontend/e2e/test/staff/parties.spec.ts
  frontend/e2e/test/staff/students.spec.ts
  frontend/e2e/test/staff/table.spec.ts
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/mockData.ts
  frontend/src/lib/utils.ts
Due: tsc, prettier

feat: exhaustive table tests and discovered bug fixes
  .gitignore
  backend/alembic/versions/123806024a92_make_incident_description_nullable.py
  backend/script/reset_dev.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/party/party_service.py
  frontend/.gitignore
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/exhaustive.ts
  frontend/e2e/helpers/fixtures.ts
  frontend/e2e/helpers/seedData.ts
  frontend/e2e/helpers/steps.ts
  frontend/e2e/test/police/admin.spec.ts
  frontend/e2e/test/staff/accounts.spec.ts
  frontend/e2e/test/staff/incidents.spec.ts
  frontend/e2e/test/staff/locations.spec.ts
  frontend/e2e/test/staff/parties.spec.ts
  frontend/e2e/test/staff/students.spec.ts
  frontend/shared/mock_data.json
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/shared/sidebar/InfoChip.tsx
  frontend/src/lib/api/incident/incident.types.ts
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/mockData.ts
  frontend/src/lib/utils.ts
Due: pyright, tsc, prettier

dev: e2e tests working in devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  .devcontainer/setup_local.sh
  README.md
  frontend/.env.template
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/test/staff/table.spec.ts
  frontend/e2e/tsconfig.json
  frontend/package-lock.json
  frontend/playwright.config.ts
Due: tsc, prettier

refactor: rename e2e helpers to *.helpers.ts convention
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/auth.helpers.ts
  frontend/e2e/helpers/db.helpers.ts
  frontend/e2e/helpers/exhaustive.helpers.ts
  frontend/e2e/helpers/fixtures.helpers.ts
  frontend/e2e/helpers/seed.helpers.ts
  frontend/e2e/helpers/steps.helpers.ts
  frontend/e2e/helpers/table.helpers.ts
  frontend/e2e/test/police/admin.spec.ts
  frontend/e2e/test/staff/accounts.spec.ts
  frontend/e2e/test/staff/incidents.spec.ts
  frontend/e2e/test/staff/locations.spec.ts
  frontend/e2e/test/staff/parties.spec.ts
  frontend/e2e/test/staff/students.spec.ts
  frontend/e2e/test/staff/table.spec.ts
Due: tsc, prettier

ci: make pre-commit also check e2e and fix discovered bugs
  .pre-commit-config.yaml
  frontend/e2e/helpers/exhaustive.helpers.ts
  frontend/e2e/helpers/fixtures.helpers.ts
Due: tsc, prettier

fix: tests
  backend/test/core/utils/query_utils/query_utils_test.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
Due: pyright

implemented changes asked for
  backend/src/modules/account/account_entity.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/student/student_service_test.py
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

feat: student profile email, Onyen refresh note, and floating log out
  frontend/src/app/(student)/profile/page.tsx
Due: tsc, prettier

refactor: keep isEditing local to StudentInfo, show Log Out always
  frontend/src/app/(student)/profile/page.tsx
Due: tsc, prettier

feat: student profile email, Onyen refresh note, and floating log out (#461)
  frontend/src/app/(student)/profile/page.tsx
Due: tsc, prettier

refactor: replace DeletePartyDialog with ConfirmDialog
  frontend/src/app/(student)/_components/tracker/DeletePartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/staff/_components/shared/details/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/ConfirmDialog.tsx
Due: tsc, prettier

feat: solidify admin deletion behavior and update party registration copy
  backend/src/modules/account/account_service.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/account/account_service_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/location/location_service_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  frontend/e2e/test/staff/accounts.spec.ts
  frontend/e2e/test/staff/locations.spec.ts
  frontend/e2e/test/staff/students.spec.ts
  frontend/src/app/(student)/_components/RegistrationStatus.tsx
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: pyright, tsc, prettier

fix: tests
  backend/test/modules/account/account_router_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

fix: tests
  backend/test/modules/party/party_router_test.py
Due: pyright

feat: solidify admin deletion behavior and update party registration copy (#463)
  backend/src/modules/account/account_service.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/account/account_service_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/location/location_service_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  frontend/e2e/test/staff/accounts.spec.ts
  frontend/e2e/test/staff/locations.spec.ts
  frontend/e2e/test/staff/students.spec.ts
  frontend/src/app/(student)/_components/RegistrationStatus.tsx
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/tracker/DeletePartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/shared/details/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: pyright, tsc, prettier

'refactor: match student role mapped types to party pattern' and 'feat: student party type for incident data visibility'
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/test/modules/party/party_service_test.py
  frontend/src/app/(student)/_components/tracker/DeletePartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationPartyCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/staff/_components/shared/details/LocationInfoChipDetails.tsx
  frontend/src/lib/api/location/location.types.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/student/student.queries.ts
  frontend/src/lib/api/student/student.service.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

feat: restrict incident visibility for student self-view (#453)
  backend/src/modules/account/account_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/location/location_model.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_service_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/tracker/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationIncidentCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationPartyCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/staff/_components/shared/details/LocationInfoChipDetails.tsx
  frontend/src/lib/api/incident/incident.types.ts
  frontend/src/lib/api/location/location.types.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/student/student.queries.ts
  frontend/src/lib/api/student/student.service.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

feat: narrow address autocomplete to residences in the Chapel Hill area
  backend/src/modules/location/location_service.py
  backend/test/modules/location/location_service_test.py
  backend/test/modules/location/location_utils.py
  frontend/src/app/police/page.tsx
  frontend/src/components/AddressSearch.tsx
Due: pyright, tsc, prettier

extra: about copy
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
Due: tsc, prettier

Narrow address autocomplete to residences in the Chapel Hill area (#465)
  backend/src/modules/location/location_service.py
  backend/test/modules/location/location_service_test.py
  backend/test/modules/location/location_utils.py
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
  frontend/src/app/police/page.tsx
  frontend/src/components/AddressSearch.tsx
Due: pyright, tsc, prettier

feat: key IdP account upsert on PID and remove rate limiter
  backend/pyproject.toml
  backend/src/main.py
  backend/src/modules/account/account_service.py
  backend/test/modules/auth/auth_router_test.py
Due: pyright

feat: key IdP account upsert on PID and remove rate limiter (#468)
  backend/pyproject.toml
  backend/src/main.py
  backend/src/modules/account/account_service.py
  backend/test/modules/auth/auth_router_test.py
Due: pyright

feat: email-based forgot password flow for police accounts (#437)
  backend/.env.template
  backend/alembic/script.py.mako
  backend/alembic/versions/657666028e23_add_password_reset_token_to_police.py
  backend/src/core/config.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_service.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  deploy/.env.prod.template
  frontend/.env.template
  frontend/src/app/police/(auth)/forgot-password/layout.tsx
  frontend/src/app/police/(auth)/forgot-password/page.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/reset-password/layout.tsx
  frontend/src/app/police/(auth)/reset-password/page.tsx
  frontend/src/app/police/(auth)/signup/layout.tsx
  frontend/src/app/robots.ts
  frontend/src/lib/api/auth/auth.queries.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/lib/config/env.client.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

feat: email-based forgot password flow for police accounts (#437) (#470)
  backend/.env.template
  backend/alembic/script.py.mako
  backend/alembic/versions/657666028e23_add_password_reset_token_to_police.py
  backend/src/core/config.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_service.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  deploy/.env.prod.template
  frontend/.env.template
  frontend/src/app/police/(auth)/forgot-password/layout.tsx
  frontend/src/app/police/(auth)/forgot-password/page.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/reset-password/layout.tsx
  frontend/src/app/police/(auth)/reset-password/page.tsx
  frontend/src/app/police/(auth)/signup/layout.tsx
  frontend/src/app/robots.ts
  frontend/src/lib/api/auth/auth.queries.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/lib/config/env.client.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

feat: remove specific time from meeting length in party reg info
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
Due: tsc, prettier

docs: documentation standards + party golden module (session 1)
  AGENTS.md
  CLAUDE.md
  backend/AGENTS.md
  backend/CLAUDE.md
  backend/src/core/exceptions.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/__init__.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  frontend/AGENTS.md
  frontend/CLAUDE.md
  frontend/eslint.config.mjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/staff/_components/shared/table/useServerTableState.ts
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/party/police-party.queries.ts
  pyproject.toml
Due: pyright, tsc, prettier

docs: document all 7 remaining backend modules (session 2)
  backend/src/modules/account/account_entity.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/account/invite_token_entity.py
  backend/src/modules/auth/__init__.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/auth/refresh_token_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_base_model.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/location/location_model.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/notification/email_unsubscribe_entity.py
  backend/src/modules/notification/notification_model.py
  backend/src/modules/notification/notification_router.py
  backend/src/modules/notification/notification_service.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  pyproject.toml
Due: pyright

docs: document backend core utilities + main (complete backend rollout)
  backend/AGENTS.md
  backend/src/core/authentication.py
  backend/src/core/config.py
  backend/src/core/database.py
  backend/src/core/exceptions.py
  backend/src/core/types.py
  backend/src/core/utils/date_utils.py
  backend/src/core/utils/email_utils.py
  backend/src/core/utils/excel_utils.py
  backend/src/core/utils/phone_utils.py
  backend/src/core/utils/query_utils.py
  backend/src/main.py
  pyproject.toml
Due: pyright

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
