Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

feat: docker layer caching for frontend deps
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  backend/pyproject.toml
Due: none

chore: fix frontend vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: prettier

feat: dev container caching for pre-commit
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
Due: none

Fixes
  backend/.env.template
  backend/src/core/authentication.py
  backend/src/core/config.py
  backend/src/modules/__init__.py
  backend/src/modules/account/account_router.py
  backend/src/modules/auth/__init__.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/auth/refresh_token_entity.py
  backend/test/conftest.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/auth/conftest.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

feat: local setup script
  .devcontainer/setup_local.sh
Due: none

feat: run post_create from anywhere
  .devcontainer/post_create.sh
Due: none

feat: remove vars with defaults from .env.template
  backend/.env.template
Due: none

Various Devops Concerns (#219)
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  .devcontainer/setup_local.sh
  backend/.env.template
  frontend/package-lock.json
  frontend/package.json
Due: prettier

additional edits
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

finish student incident tracker
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/page.tsx
Due: tsc, prettier

feat: Add test SAML IdP container to dev environment
  .devcontainer/docker-compose.yml
Due: none

Table Edit Form Does Not PUT (#209)
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

fix: Update apiClient to only import authOptions in server context
  frontend/src/lib/network/apiClient.ts
Due: tsc, prettier

feat: Add SAML authentication to frontend
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/auth-test/page.tsx
  frontend/src/lib/saml.ts
Due: tsc, prettier

chore: Document SAML dev setup
  README.md
  frontend/.env.template
Due: none

fixes
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_utils.py
Due: pyright

chore: revert devcontainer changes as they are now fixed in main
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Disabled Validation (#194)
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
Due: pyright, tsc, prettier

Fixes
  .github/workflows/backend-test.yml
  backend/.env.template
  backend/src/core/authentication.py
  backend/src/modules/account/account_model.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/test/conftest.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/auth/conftest.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

Fixes
  backend/test/modules/party/party_router_test.py
Due: pyright

feat: component extraction
  frontend/src/app/fonts/AvenirNext-Medium.woff2
  frontend/src/app/fonts/AvenirNext-Regular.woff2
  frontend/src/app/fonts/AvenirNextLTPro-Demi.woff2
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/student/_components/Header.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/OCSLLogo.tsx
  frontend/src/components/icons/OCSL_desktop_logo.svg
  frontend/src/components/icons/OCSL_mobile_logo.svg
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/tabs.tsx
Due: tsc, prettier

fix pre commit
  backend/test/modules/party/party_router_test.py
Due: pyright

fix: implemented changes asked for in pr 214
  backend/src/core/date_utils.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
Due: pyright

init: example query service
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/shared.ts
Due: tsc, prettier

small fix to test utils
  backend/test/utils/http/test_templates.py
Due: pyright

merge conflicts
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
Due: pyright

fixed the tests
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
Due: pyright

chore: add import at top of file ruff check
  backend/test/modules/account/account_service_test.py
  pyproject.toml
Due: pyright

Fixes
  backend/.env.template
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_service.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/auth/conftest.py
Due: pyright

fixed some issues mentioned in PR
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
Due: tsc, prettier

chore(pre-commit gha): add better failure message
  .github/workflows/pre-commit.yml
Due: none

add grouping
  frontend/shared/mock_data.json
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

residence tracking to student dashboard
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/page.tsx
  frontend/src/components/icons/triangle-alert.svg
Due: tsc, prettier

made the date not hardcoded
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

deleted the warning for the edit profile if student is not editing
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

fixed student profile so names can't be edited
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

reset mock data
  frontend/shared/mock_data.json
Due: prettier

Student Incident Tracking (#220)
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/page.tsx
Due: tsc, prettier

chore: fix ruff check
  backend/test/modules/auth/auth_utils.py
Due: pyright

BackendAuthModule-MatthewBarghout (#210)
  .github/workflows/backend-test.yml
  backend/.env.template
  backend/pyproject.toml
  backend/src/core/authentication.py
  backend/src/core/config.py
  backend/src/main.py
  backend/src/modules/__init__.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/auth/__init__.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/auth/refresh_token_entity.py
  backend/test/conftest.py
  backend/test/modules/auth/__init__.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
