Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

chore: fix import after pull main
  backend/script/reset_dev.py
Due: pyright

feat: Add support for multiple police accounts on frontend
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/police/police.types.ts
  frontend/src/lib/mockData.ts
Due: tsc, prettier

put in an addressSearch, formatted datetime correctly on incidentform, made expandable text area, and working on refactoring
  backend/src/modules/incident/incident_model.py
  backend/src/modules/location/location_service.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
  backend/test/modules/incident/incident_utils.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/query_utils/test_query_utils.py
  frontend/shared/mock_data.json
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/lib/api/incident/incident.types.ts
Due: pyright, tsc, prettier

finish refactoring
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/query_utils/test_query_utils.py
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/_components/location/IncidentModal.tsx
  frontend/src/app/staff/_components/party/details/LocationInfoChipDetails.tsx
  frontend/src/lib/api/incident/incident.types.ts
  frontend/src/lib/api/location/location.types.ts
Due: pyright, tsc, prettier

Address PR review comments
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/police-party.queries.ts
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: tsc, prettier

Fix Police Login (#285)
  backend/script/reset_dev.py
  frontend/shared/mock_data.json
Due: pyright, prettier

undo backend changes
  backend/src/modules/incident/incident_model.py
  backend/src/modules/location/location_service.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
  backend/test/modules/incident/incident_utils.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/query_utils/test_query_utils.py
Due: pyright

indicate description is optional, augment textarea, still working on location issues.
  frontend/shared/mock_data.json
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
Due: tsc, prettier

Intergrated Filter/Sort- Matthew (#279)
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/police-party.queries.ts
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: tsc, prettier

feat: added skeleton ui components
  frontend/src/components/ui/skeleton.tsx
Due: tsc, prettier

fix location issues
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/lib/api/incident/incident.types.ts
Due: tsc, prettier

make toast bottom left, fix double toasts, removed usesidebar from service
  frontend/src/app/layout.tsx
  frontend/src/app/providers.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/lib/api/party/party.queries.ts
Due: tsc, prettier

just a little inschidentch
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_service.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
  backend/test/modules/incident/incident_utils.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/query_utils/test_query_utils.py
Due: pyright

some of changes asked for
  backend/src/modules/incident/incident_service.py
  backend/test/modules/incident/incident_router_test.py
Due: pyright

excel export for incidents
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/location/location_csv_router_test.py
Due: pyright

PR UP
  backend/src/core/query_utils.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/test_party_list_features.py
  backend/test/modules/student/student_router_test.py
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: pyright, tsc, prettier

finish styles
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/IncidentModal.tsx
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
Due: tsc, prettier

police pagination implementation
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/lib/api/party/police-party.queries.ts
  frontend/src/lib/api/shared/query-params.ts
Due: tsc, prettier

Frontend incidents table (#268)
  frontend/shared/mock_data.json
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/incident/IncidentDescriptionChipDetails.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/IncidentModal.tsx
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/party/details/LocationInfoChipDetails.tsx
  frontend/src/app/staff/_lib/tabs.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/incident/incident.types.ts
  frontend/src/lib/api/location/location.types.ts
Due: tsc, prettier

small addition
  backend/src/modules/incident/incident_service.py
Due: pyright

Vidur/incident update (#272)
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
  backend/test/modules/incident/incident_utils.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/query_utils/test_query_utils.py
Due: pyright

changed party, student, account
  frontend/shared/mock_data.json
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: tsc, prettier

feat: update mock data
  backend/script/reset_dev.py
  frontend/shared/mock_data.json
  frontend/src/lib/mockData.ts
Due: pyright, tsc, prettier

Police Auth Frontend Integration (#286)
  backend/script/reset_dev.py
  frontend/shared/mock_data.json
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/police/police.types.ts
  frontend/src/lib/mockData.ts
Due: pyright, tsc, prettier

incidents functionality
  frontend/shared/mock_data.json
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
Due: tsc, prettier

Snackbars (#280)
  frontend/package-lock.json
  frontend/package.json
  frontend/shared/mock_data.json
  frontend/src/app/providers.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/DeletePartyDialog.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/contexts/SnackbarContext.tsx
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/network/apiClient.ts
Due: tsc, prettier

police pagination implementation (#297)
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/police-party.queries.ts
  frontend/src/lib/api/shared/query-params.ts
Due: tsc, prettier

refactor: add phone number formatting utils and make backend match
  backend/src/core/utils/phone_utils.py
  backend/src/modules/party/party_model.py
  backend/src/modules/student/student_model.py
  frontend/src/app/layout.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/EditPartyDialog.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/components/StudentSearch.tsx
  frontend/src/lib/utils.ts
Due: pyright, tsc, prettier

fix(out-of-scope): fix student page scroll. needed to test changes
  frontend/src/app/layout.tsx
  frontend/src/app/student/new-party/page.tsx
Due: tsc, prettier

refactor: time format util function to make sure time formatting is consistent
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/lib/utils.ts
Due: tsc, prettier

refactor(out-of-scope): move prettier hook to the first TS hook since its the most common
  .pre-commit-config.yaml
Due: none

feat: finish incident integration
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/lib/api/incident/incident.queries.ts
  frontend/src/lib/api/incident/incident.service.ts
Due: tsc, prettier

refactor(out-of-scope): move myParties query from student page to registration tracker to simplify parent page
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/page.tsx
Due: tsc, prettier

fix: change phone number validation to require exactly 10 digits
  frontend/src/lib/utils.ts
Due: tsc, prettier

added admin autofill fix
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
Due: tsc, prettier

pagination fixes
  frontend/package-lock.json
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  package-lock.json
Due: tsc, prettier

hotfix for results and rows sentences
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  package-lock.json
Due: tsc, prettier

accidentally screwed with the package-lock, fixed it again
  frontend/package-lock.json
Due: prettier

italicize placeholder values
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
Due: tsc, prettier

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
