Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

uncomment setup
  .devcontainer/devcontainer.json
  .devcontainer/setup_local.sh
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

fix ci
  .github/workflows/backend-test.yml
Due: none

fix(backend test ci): exec alembic migrations for alembic check
  .github/workflows/backend-test.yml
Due: none

unpin next version since it was not actually causing issues
  frontend/package-lock.json
  frontend/package.json
Due: prettier

chore: update .env.template with missing var; add missing mock_data entry in readme
  README.md
  frontend/.env.template
Due: none

fix: escape LIKE wildcards in contains filters (#354)
  backend/src/core/utils/query_utils.py
  backend/test/modules/query_utils/test_query_utils.py
Due: pyright

feat: add more headers, remove overly strict Strict-Transport-Security header
  backend/src/main.py
  backend/src/modules/auth/auth_router.py
Due: pyright

fix: add missing security headers for api responses (#358)
  backend/src/main.py
  backend/src/modules/auth/auth_router.py
Due: pyright

feat: mysql migration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  .devcontainer/setup_local.sh
  .github/workflows/backend-test.yml
  README.md
  backend/.env.template
  backend/alembic/env.py
  backend/alembic/versions/a0853d102a0e_initial_setup.py
  backend/pyproject.toml
  backend/script/create_db.py
  backend/script/create_test_db.py
  backend/script/delete_db.py
  backend/script/reset_dev.py
  backend/src/core/config.py
  backend/src/core/database.py
  backend/src/core/types.py
  backend/src/core/utils/phone_utils.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_entity.py
  backend/src/modules/auth/refresh_token_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/test/conftest.py
  backend/test/modules/student/student_service_test.py
  deploy/.env.prod.template
  deploy/Dockerfile.backend
  deploy/README.md
  frontend/tsconfig.json
Due: pyright, prettier

feat: mysql migration (#376)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  .devcontainer/setup_local.sh
  .github/workflows/backend-test.yml
  README.md
  backend/.env.template
  backend/alembic/env.py
  backend/alembic/versions/a0853d102a0e_initial_setup.py
  backend/pyproject.toml
  backend/script/create_db.py
  backend/script/create_test_db.py
  backend/script/delete_db.py
  backend/script/reset_dev.py
  backend/src/core/config.py
  backend/src/core/database.py
  backend/src/core/types.py
  backend/src/core/utils/phone_utils.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_entity.py
  backend/src/modules/auth/refresh_token_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/test/conftest.py
  backend/test/modules/student/student_service_test.py
  deploy/.env.prod.template
  deploy/Dockerfile.backend
  deploy/README.md
  frontend/tsconfig.json
Due: pyright, prettier

fix: some test names and file structure
  backend/test/core/utils/query_utils/__init__.py
  backend/test/core/utils/query_utils/query_utils_test.py
  backend/test/modules/incident/incident_list_features_test.py
  backend/test/modules/party/party_list_features_test.py
Due: pyright

prox-search fixes
  backend/src/modules/party/party_router.py
  backend/test/modules/party/party_router_test.py
  frontend/src/lib/api/party/party.service.ts
Due: pyright, tsc, prettier

small patch to keep match party pin showing
  frontend/src/app/police/page.tsx
Due: tsc, prettier

feat: admin invite
  backend/alembic/versions/b3c4d5e6f7a8_add_invite_tokens.py
  backend/alembic/versions/c4d5e6f7a8b9_remove_invite_token_string.py
  backend/src/core/config.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/__init__.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/account/invite_token_entity.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/test/conftest.py
  backend/test/modules/account/account_csv_router_test.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/account/account_service_test.py
  backend/test/modules/account/account_utils.py
  backend/test/modules/account/invite_token_utils.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/utils/resource_test_utils.py
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/login/page.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/lib/api/police/police.types.ts
  frontend/src/lib/api/student/admin-student.queries.ts
Due: pyright, tsc, prettier

chore: consolidate migrations
  backend/alembic/versions/b3c4d5e6f7a8_add_invite_tokens.py
  backend/alembic/versions/c4d5e6f7a8b9_remove_invite_token_string.py
Due: pyright

fix: move commit to the end so that we
  backend/src/modules/account/account_service.py
Due: pyright

small changes
  backend/src/modules/party/party_router.py
  frontend/src/lib/api/party/party.service.ts
Due: pyright, tsc, prettier

Admin Email Invite (#378)
  backend/alembic/versions/b3c4d5e6f7a8_add_invite_tokens.py
  backend/src/core/config.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/__init__.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/account/invite_token_entity.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/test/conftest.py
  backend/test/modules/account/account_csv_router_test.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/account/account_service_test.py
  backend/test/modules/account/account_utils.py
  backend/test/modules/account/invite_token_utils.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/utils/resource_test_utils.py
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/login/page.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/lib/api/police/police.types.ts
  frontend/src/lib/api/student/admin-student.queries.ts
Due: pyright, tsc, prettier

fix: proximity search date filter and coordinate drift (#377)
  backend/src/modules/party/party_router.py
  backend/test/modules/party/party_router_test.py
  frontend/src/app/police/page.tsx
  frontend/src/lib/api/party/party.service.ts
Due: pyright, tsc, prettier

refactor: query utils
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_model.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/core/utils/query_utils/query_utils_test.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_list_features_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/party_list_features_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/utils/http/test_templates.py
Due: pyright

refactor: frontend for new query utils (with some other changes)
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/core/utils/query_utils/query_utils_test.py
  backend/test/utils/http/assertions.py
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/shared.ts
Due: pyright, tsc, prettier

Query Utils Refactor (#379)
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_model.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/core/utils/query_utils/query_utils_test.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_list_features_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/party_list_features_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/utils/http/assertions.py
  backend/test/utils/http/test_templates.py
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/shared.ts
Due: pyright, tsc, prettier

fix: remove PII from access tokens
  backend/src/core/authentication.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/police/police_router.py
  backend/src/modules/student/student_router.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/components/Header.tsx
  frontend/src/lib/api/auth/auth.queries.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/lib/auth/auth-options.ts
Due: pyright, tsc, prettier

refactor: get rid of auth helpers
  backend/src/core/authentication.py
  backend/src/modules/account/account_router.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/police/police_router.py
  backend/src/modules/student/student_router.py
Due: pyright

fix: tests & chore: move small csv export tests into router tests
  backend/test/modules/account/account_csv_router_test.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/student/student_csv_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

fix: remove PII from access tokens (#381)
  backend/src/core/authentication.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/police/police_router.py
  backend/src/modules/student/student_router.py
  backend/test/modules/account/account_csv_router_test.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/student/student_csv_router_test.py
  backend/test/modules/student/student_router_test.py
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/components/Header.tsx
  frontend/src/lib/api/auth/auth.queries.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/lib/auth/auth-options.ts
Due: pyright, tsc, prettier

Add alembic to reset db task
  .vscode/tasks.json
Due: none

remove dead 'generate schema' task
  .vscode/tasks.json
Due: none

feat(admin): add multi filter options to table columns
  backend/src/core/utils/date_utils.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_service.py
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/shared/query-params.ts
Due: pyright, tsc, prettier

feat(admin): add multi filter options to table columns (#383)
  backend/src/core/utils/date_utils.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_service.py
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/shared/query-params.ts
Due: pyright, tsc, prettier

feat: rete limiting
  backend/pyproject.toml
  backend/src/main.py
Due: pyright

feat: rete limiting (#384)
  backend/pyproject.toml
  backend/src/main.py
Due: pyright

feat: landing page and police signin redesign
  backend/src/modules/police/police_service.py
  backend/test/modules/police/police_service_test.py
  deploy/.env.prod.template
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/window.svg
  frontend/src/app/(student)/_components/DeletePartyDialog.tsx
  frontend/src/app/(student)/_components/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/PartySmartInfo.tsx
  frontend/src/app/(student)/_components/RegistrationTracker.tsx
  frontend/src/app/(student)/_components/StatusComponent.tsx
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/(student)/about-party-registration/layout.tsx
  frontend/src/app/(student)/about-party-registration/page.tsx
  frontend/src/app/(student)/about-party-smart/layout.tsx
  frontend/src/app/(student)/about-party-smart/page.tsx
  frontend/src/app/(student)/layout.tsx
  frontend/src/app/(student)/new-party/layout.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/app/(student)/page.tsx
  frontend/src/app/(student)/profile/layout.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/login/police/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/police/_components/ResendVerificationButton.tsx
  frontend/src/app/police/login/layout.tsx
  frontend/src/app/police/login/page.tsx
  frontend/src/app/police/signup/layout.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/app/police/verify/layout.tsx
  frontend/src/app/police/verify/page.tsx
  frontend/src/app/staff/login/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PartySmartLogo.tsx
  frontend/src/components/icons/party_smart_logo_vertical.svg
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

fix: tests
  backend/test/modules/auth/auth_router_test.py
Due: pyright

working impl
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/DateRangeFilter.tsx
  frontend/src/components/ui/calendar.tsx
Due: tsc, prettier

feat: add support for more formats
  desc.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/DateRangeFilter.tsx
  frontend/src/components/ui/calendar.tsx
Due: tsc, prettier

fix: align date range picker and date picker styles
  frontend/src/components/DateRangeFilter.tsx
Due: tsc, prettier

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
