Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

.pre-commit-config.yaml:

repos:
  # General purpose
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check # Linting
        args: [--fix] # Auto-fix issues
      - id: ruff-format # Formatting

  # Python type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && pyright'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.tsx?$
        pass_filenames: false

  # JavaScript/TypeScript and other Prettier compatible files
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        # Runs prettier on staged, removing the `frontend/` prefix to work with relative filepaths
        entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: true

chore: Add env var to determine if unencrypted assertions are allowed
  frontend/.env.template
  frontend/src/lib/saml.ts
Due: tsc, prettier

feat: Automatically generate SAML certs in dev container
  .devcontainer/post_create.sh
  README.md
Due: none

feat: Hardcode dev SAML cert in env template
  README.md
  frontend/.env.template
Due: none

chore: Re-add refresh token logic to NextAuth config
  frontend/src/app/api/auth/[...nextauth]/route.ts
Due: tsc, prettier

feat: Add error handling for SAML cert loading
  frontend/src/lib/saml.ts
Due: tsc, prettier

chore: Improve error handling for SAML login callback
  frontend/src/app/api/auth/login/saml/route.ts
Due: tsc, prettier

chore: Ignore certs directory in frontend
  frontend/.gitignore
Due: none

chore: Add default credentials for dev SAML IdP to README
  README.md
Due: none

NextAuth SAML Provider (#222)
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  README.md
  frontend/.env.template
  frontend/.gitignore
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/auth-test/page.tsx
  frontend/src/lib/network/apiClient.ts
  frontend/src/lib/saml.ts
Due: tsc, prettier

Making additional changes/cleaning up PR.
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
Due: tsc, prettier

fixed handling
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
Due: tsc, prettier

feat: Update frontend to allow students to edit and delete their parties
  frontend/src/app/student/_components/DeletePartyDialog.tsx
  frontend/src/app/student/_components/EditPartyDialog.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/lib/api/party/party.queries.ts
Due: tsc, prettier

Implemented edit and add incident modal, added new components.
  frontend/src/app/staff/_components/location/IncidentModal.tsx
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/components/ui/textarea.tsx
Due: tsc, prettier

Added the Delete Incident dialog
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
Due: tsc, prettier

added ResidenceDTO
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/lib/api/student/student.types.ts
  frontend/src/lib/mockData.ts
  frontend/src/lib/utils.ts
Due: tsc, prettier

delete hard coded years
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
Due: tsc, prettier

rename isValid() function to isFromThisSchoolYear() for clarity
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/page.tsx
  frontend/src/lib/utils.ts
Due: tsc, prettier

fix soft party
  backend/src/modules/party/party_service.py
Due: pyright

Finish PR
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/test/conftest.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
  backend/test/modules/incident/incident_utils.py
Due: pyright

fix: component extraction pr fixes
  backend/pyproject.toml
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/OCSLLogo.tsx
Due: tsc, prettier

Component Extraction (#227)
  frontend/package-lock.json
  frontend/src/app/fonts/AvenirNext-Medium.woff2
  frontend/src/app/fonts/AvenirNext-Regular.woff2
  frontend/src/app/fonts/AvenirNextLTPro-Demi.woff2
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/student/_components/Header.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/OCSLLogo.tsx
  frontend/src/components/icons/OCSL_desktop_logo.svg
  frontend/src/components/icons/OCSL_mobile_logo.svg
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/tabs.tsx
Due: tsc, prettier

implemented additional fixes and cleanedup impl
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/modules/account/account_service_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
Due: pyright

implemented changes requested in ticket #119
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/party/police-party.queries.ts
  frontend/src/lib/api/student/student.queries.ts
Due: tsc, prettier

fix: mock data & some font stuff
  frontend/shared/mock_data.json
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/ui/button.tsx
Due: tsc, prettier

added button
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/ClearableDatePicker.tsx
  package-lock.json
  package.json
Due: tsc, prettier

initial commit
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_lib/tabs.ts
  frontend/src/app/staff/page.tsx
Due: tsc, prettier

changed onsettled to onsuccess to avoid error invisibility, reomved setQueryData call before invalidate Queries to avoid overwrite issues
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/lib/api/student/student.queries.ts
Due: tsc, prettier

change colors, text, column ordering, tabs ordering, table formatting, etc. still need to fix table height, and indenting of tab triggers.
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/page.tsx
  frontend/src/components/ui/tabs.tsx
Due: tsc, prettier

responding to change requests
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/lib/utils.ts
Due: tsc, prettier

small linting things
  frontend/src/app/student/page.tsx
  frontend/src/components/icons/triangle-alert.svg
Due: tsc, prettier

more fixes
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericInfoChip.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/staff/page.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PartySmartLogo.tsx
  frontend/src/components/icons/party_smart_desktop_logo.svg
Due: tsc, prettier

pagination stuff
  frontend/package-lock.json
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ui/pagination.tsx
Due: tsc, prettier

more changes
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/shared/dialog/DeleteConfirmDialog.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/page.tsx
  frontend/src/components/Header.tsx
Due: tsc, prettier

final touches
  frontend/src/app/globals.css
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

Student residence tracking (#229)
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/lib/api/student/student.types.ts
  frontend/src/lib/mockData.ts
  frontend/src/lib/utils.ts
Due: tsc, prettier

refactor: Ensure registration tracker code is formatted correctly
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

Student Party Edit/Delete (#233)
  frontend/src/app/student/_components/DeletePartyDialog.tsx
  frontend/src/app/student/_components/EditPartyDialog.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/lib/api/party/party.queries.ts
Due: tsc, prettier

merge conflict mistakes fixed
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_service.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
Due: pyright

feat: student styles
  frontend/src/app/globals.css
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/PartyRegistrationInfo.tsx
  frontend/src/app/student/_components/PartySmartInfo.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/about-party-registration/page.tsx
  frontend/src/app/student/about-party-smart/page.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/tabs.tsx
Due: tsc, prettier

feat: Header in root layout
  frontend/src/app/layout.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PartySmartLogo.tsx
  frontend/src/components/icons/party_smart_desktop_logo.svg
  frontend/src/contexts/RoleContext.tsx
Due: tsc, prettier
