Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

Dev Env Fixes (#350)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post_create.sh
  .devcontainer/saml-idp/authsources.php
  .devcontainer/setup_local.sh
  .github/workflows/backend-test.yml
  .github/workflows/pre-commit.yml
  .vscode/tasks.json
  README.md
  backend/pyproject.toml
  backend/src/core/database.py
  frontend/package-lock.json
  pyproject.toml
Due: pyright, prettier

Metadata (#342)
  frontend/public/Home1CarolinaBlue.png
  frontend/src/app/layout.tsx
  frontend/src/app/login/layout.tsx
  frontend/src/app/login/police/layout.tsx
  frontend/src/app/logout/layout.tsx
  frontend/src/app/police/admin/layout.tsx
  frontend/src/app/police/layout.tsx
  frontend/src/app/staff/[tab]/layout.tsx
  frontend/src/app/staff/layout.tsx
  frontend/src/app/student/about-party-registration/layout.tsx
  frontend/src/app/student/about-party-smart/layout.tsx
  frontend/src/app/student/layout.tsx
  frontend/src/app/student/new-party/layout.tsx
  frontend/src/app/student/profile/layout.tsx
Due: tsc, prettier

Student Party Card Cleanup (#346)
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

fix: use detail for API error payloads
  backend/src/main.py
  backend/test/utils/http/assertions.py
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/network/apiClient.ts
Due: pyright, tsc, prettier

fix: apply ui cleanup items from issue 315
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericInfoChip.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationInfo.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/components/StudentSearch.tsx
Due: tsc, prettier

fix: escape LIKE wildcards in contains filters
  backend/src/core/utils/query_utils.py
  backend/test/modules/query_utils/test_query_utils.py
Due: pyright

perf: optimize police react rendering paths
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

fix: guide new students to Party Smart from tracker
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

fix: point tracker empty state to party smart registration section
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

fix: simplify selected state in location/student search
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/StudentSearch.tsx
Due: tsc, prettier

fix: add security headers for api responses
  backend/src/main.py
Due: pyright

in progress
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericInfoChip.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/components/ui/dialog.tsx
Due: tsc, prettier

merge
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

fix: use detail for API error payloads (#352)
  backend/src/main.py
  backend/test/utils/http/assertions.py
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/network/apiClient.ts
Due: pyright, tsc, prettier

feat: pr comment fixes
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/page.tsx
Due: tsc, prettier

Small pagination fix
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

small add
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
Due: tsc, prettier

Add Skeleton While Loading (#336)
  frontend/src/app/globals.css
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/ui/skeleton.tsx
Due: tsc, prettier

cleaned up form styling across all forms (#360)
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/IncidentDialog.tsx
Due: tsc, prettier

pagination fixes
  backend/src/core/utils/query_utils.py
  backend/test/modules/query_utils/test_query_utils.py
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: pyright, tsc, prettier

updated table and added hover cards
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

Frontend Admin Excel Export (#327)
  backend/src/core/utils/query_utils.py
  backend/src/main.py
  backend/src/modules/account/account_router.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/student/student_router.py
  backend/test/modules/query_utils/test_query_utils.py
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/incident/incident.queries.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/shared/download-file.ts
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: pyright, tsc, prettier

fixes
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/ExactMatchCard.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/components/PhoneLink.tsx
  frontend/src/lib/api/party/police-party.queries.ts
Due: tsc, prettier

fix layer structure
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/lib/api/party/police-party.queries.ts
Due: tsc, prettier

Unregistered Location Incident Tracking (#328)
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/components/PhoneLink.tsx
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/party/police-party.queries.ts
Due: pyright, tsc, prettier

add radius ring to police proximity search map
  frontend/src/app/police/_components/EmbeddedMap.tsx
Due: tsc, prettier

fix police page scroll on mobile
  frontend/src/app/police/admin/page.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

stabilize searchCenter reference to prevent circle flicker
  frontend/src/app/police/_components/EmbeddedMap.tsx
Due: tsc, prettier

small add
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

made radius an env var and made cicrcle not clickable
  frontend/.env.template
  frontend/src/app/police/_components/EmbeddedMap.tsx
Due: tsc, prettier

fix: prompt new students to complete Party Smart (#356)
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

add radius ring to police proximity search map (#362)
  frontend/.env.template
  frontend/src/app/police/_components/EmbeddedMap.tsx
Due: tsc, prettier

small fixes
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/StudentSearch.tsx
Due: tsc, prettier

fix police page scroll on mobile (#363)
  frontend/src/app/police/admin/page.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

fix: cleanup selected state for location/student search (#357)
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/StudentSearch.tsx
Due: tsc, prettier

ui cleanup
  frontend/src/app/globals.css
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/sidebar/InfoChip.tsx
  frontend/src/app/staff/_components/shared/sidebar/Sidebar.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/StudentSearch.tsx
Due: tsc, prettier

ui cleanup (#365)
  frontend/src/app/globals.css
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/sidebar/InfoChip.tsx
  frontend/src/app/staff/_components/shared/sidebar/Sidebar.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/StudentSearch.tsx
Due: tsc, prettier

mock data and ui tweaks
  README.md
  backend/script/reset_dev.py
  frontend/shared/mock_data.json
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/page.tsx
Due: pyright, tsc, prettier

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
