Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

.pre-commit-config.yaml:

repos:
  # General purpose
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check # Linting
        args: [--fix] # Auto-fix issues
      - id: ruff-format # Formatting

  # Python type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && pyright'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.tsx?$
        pass_filenames: false

  # JavaScript/TypeScript and other Prettier compatible files
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        # Runs prettier on staged, removing the `frontend/` prefix to work with relative filepaths
        entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: true

merged main in and built more police styles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

add incidents table
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_lib/tabs.ts
  frontend/src/app/staff/_lib/tabs.tsx
Due: tsc, prettier

updates to incidents table
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/IncidentSidebar.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

description info chip
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
Due: tsc, prettier

description info chip
  frontend/src/app/staff/_components/incident/IncidentDescriptionChipDetails.tsx
Due: tsc, prettier

fix header in contact two, add drop shadow, add background color to rest of the page
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

put custom filtering in sidebar
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

chore: Remove all uses of mock client and replace with actual API client
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/student/_components/EditPartyDialog.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/police/police.service.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.service.ts
  frontend/src/lib/network/mockClient.ts
Due: tsc, prettier

refactor: Remove RoleContext, RoleProvider, and useRole hook since we can now access role via session.role
  frontend/src/app/providers.tsx
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/student/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/contexts/RoleContext.tsx
Due: tsc, prettier

refactor: Use AppRole type in all places where role is used
  frontend/next-auth.d.ts
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/shared.ts
  frontend/src/proxy.ts
Due: tsc, prettier

chore: Allow admins to access police tab
  frontend/src/proxy.ts
Due: tsc, prettier

refactor: Use role type in auth types and proxy
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/proxy.ts
Due: tsc, prettier

refactor: Remove response type casts in auth service
  frontend/src/lib/api/auth/auth.service.ts
Due: tsc, prettier

merge conflict problem
  pr_description.md
  tdd/tdd23.md
  tdd/tdd32.md
  tdd/tdd33.md
Due: none

Remove pr_description.md and tdd/ files
  pr_description.md
  tdd/tdd23.md
  tdd/tdd32.md
  tdd/tdd33.md
Due: none

more fixes
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/student/admin-student.queries.ts
Due: tsc, prettier

fixes
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
Due: tsc, prettier

Remove artifiact
  backend/package.json
Due: none

Admin styles (#247)
  frontend/src/app/globals.css
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/party/details/ContactInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/LocationInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/PartyInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/StudentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/dialog/DeleteConfirmDialog.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericInfoChip.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/icons/info.svg
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/tabs.tsx
Due: tsc, prettier

Clearable Date Input Component (#244)
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/police/_components/addIncidentDialog.tsx
  frontend/src/app/staff/_components/location/DatePickerComponent.tsx
  frontend/src/app/staff/_components/location/IncidentModal.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/components/ClearableDatePicker.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/DateRangeFilter.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/calendar.tsx
Due: tsc, prettier

Residence Frontend Integration (#254)
  backend/src/modules/party/party_service.py
  frontend/src/app/staff/_components/party/details/StudentInfoChipDetails.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.queries.ts
  frontend/src/lib/api/student/student.service.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

Chapel Hill Addresses (#261)
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/components/AddressSearch.tsx
Due: tsc, prettier

rebuilt police styles to spec
  frontend/src/app/globals.css
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/addIncidentDialog.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

just a little inschidentch
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_service.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
  backend/test/modules/incident/incident_utils.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/query_utils/test_query_utils.py
Due: pyright

everything backend
  .claude/settings.json
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/auth/auth_router.py
  backend/test/modules/account/account_service_test.py
Due: pyright

everything frontend
  backend/src/modules/auth/auth_router.py
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
Due: pyright, tsc, prettier

everything tests
  .claude/settings.json
  backend/test/modules/account/account_router_test.py
  backend/test/modules/auth/auth_router_test.py
Due: pyright

Police Auth Update
  backend/src/core/authentication.py
  backend/src/main.py
  backend/src/modules/account/account_router.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/auth/refresh_token_entity.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/test/conftest.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
Due: pyright

Add ExcelExporter class for shared Excel export mechanics
  backend/src/core/excel_export.py
Due: pyright

Fix three bugs in ExcelExporter: None cell widths, non-idempotent headers, phone type annotation
  backend/src/core/excel_export.py
Due: pyright

Update party CSV export route to support role-based column formats
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
Due: pyright

Add GET /api/parties/csv to auth required tests
  backend/test/modules/party/party_router_test.py
Due: pyright

Fix column count docstring in export_parties_to_excel (14 not 15)
  backend/src/modules/party/party_service.py
Due: pyright

Add student CSV export route
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/student/student_csv_router_test.py
Due: pyright

Clarify is_registered semantics and expand CSV test assertions
  backend/src/modules/student/student_service.py
  backend/test/modules/student/student_csv_router_test.py
Due: pyright

Add location CSV export route with Excel generation and tests
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/test/modules/location/location_csv_router_test.py
Due: pyright

Add incident CSV export route
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/test/modules/incident/incident_csv_router_test.py
Due: pyright

Fix missing type annotation on auth param in GET /incidents/csv route
  backend/src/modules/incident/incident_router.py
Due: pyright

Add account CSV export route
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/test/modules/account/account_csv_router_test.py
Due: pyright
