Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

feat: password restrictions
  backend/src/modules/police/police_model.py
  backend/test/modules/auth/auth_router_test.py
  frontend/src/app/login/police/page.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/lib/api/auth/auth.queries.ts
  frontend/src/lib/api/auth/auth.service.ts
Due: pyright, tsc, prettier

removed old police service functions
  frontend/src/lib/api/police/police.service.ts
Due: tsc, prettier

fix tests
  backend/test/modules/auth/auth_router_test.py
Due: pyright

PR changes
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_entity.py
  backend/test/modules/student/student_service_test.py
  frontend/src/lib/api/student/admin-student.service.ts
Due: pyright, tsc, prettier

PR Changes
  backend/test/modules/account/account_router_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/test_party_list_features.py
  backend/test/modules/student/student_router_test.py
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: pyright, tsc, prettier

tweaked centering
  frontend/src/components/ui/avatar.tsx
Due: tsc, prettier

rerendered title and desc into the frozen header div
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
Due: tsc, prettier

add all tab names
  frontend/src/app/layout.tsx
  frontend/src/app/police/layout.tsx
  frontend/src/app/staff/layout.tsx
  frontend/src/app/student/about-party-registration/layout.tsx
  frontend/src/app/student/layout.tsx
  frontend/src/app/student/new-party/layout.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/profile/layout.tsx
Due: tsc, prettier

add address search and make address optional
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

Matt/fix backend table search (#320)
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/test_party_list_features.py
  backend/test/modules/query_utils/test_query_utils.py
  backend/test/modules/student/student_router_test.py
  backend/test/utils/http/test_templates.py
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/shared/query-params.ts
Due: pyright, tsc, prettier

Student Signup Flow (#321)
  backend/src/modules/auth/auth_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_service_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/party/details/StudentInfoChipDetails.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

add logo
  frontend/public/Home1CarolinaBlue.png
  frontend/src/app/layout.tsx
Due: tsc, prettier

feat: fix student info styling and updating data
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/profile/page.tsx
Due: tsc, prettier

add back to home
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

Fix admin self-delete guards in dashboard.
  backend/test/modules/account/account_router_test.py
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/lib/api/account/accountDeleteGuard.test.ts
  frontend/src/lib/api/account/accountDeleteGuard.ts
  frontend/src/lib/api/auth/sessionIdentity.test.ts
  frontend/src/lib/api/auth/sessionIdentity.ts
Due: pyright, tsc, prettier

fix police nearby incident tracking regressions
  backend/src/modules/party/party_router.py
  frontend/src/app/police/_components/ExactMatchCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/lib/api/party/police-party.queries.ts
Due: pyright, tsc, prettier

Student party card cleanup (#340)
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

Student register party form cleanup (#341)
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/new-party/page.tsx
Due: tsc, prettier

Fix incident date format to remove leading zeros
  frontend/src/app/student/_components/RegistrationTracker.tsx
Due: tsc, prettier

Fixed how the pagination UI looks and how much space it takes. Also fixed admin autofill. (#304)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
Due: tsc, prettier

refactor: file structure
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/lib/api/account/accountDeleteGuard.test.ts
  frontend/src/lib/api/account/accountDeleteGuard.ts
  frontend/src/lib/api/auth/sessionIdentity.test.ts
  frontend/src/lib/api/auth/sessionIdentity.ts
Due: tsc, prettier

Prevent admin from deleting their own account (#284)
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/test/modules/account/account_router_test.py
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: pyright, tsc, prettier

small tweaks
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/new-party/page.tsx
Due: tsc, prettier

Student register party form cleanup (#345)
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/new-party/page.tsx
Due: tsc, prettier

feat: Allow full name search in party and student tables
  backend/src/core/utils/query_utils.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/test_party_list_features.py
  backend/test/modules/student/student_router_test.py
Due: pyright

mild position tweaks
  frontend/package-lock.json
  frontend/src/components/Header.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/user-avatar.tsx
  frontend/tsconfig.json
Due: tsc, prettier

make a handleCancel function
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

removed duplicate impl
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentDescriptionChipDetails.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/details/ContactInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/LocationInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/PartyInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/StudentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericChipDetails.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

node install fix, python update, frontend dep audit, post create sql fix
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/post_create.sh
  .devcontainer/saml-idp/authsources.php
  .devcontainer/setup_local.sh
  .github/workflows/backend-test.yml
  .github/workflows/pre-commit.yml
  .vscode/tasks.json
  backend/pyproject.toml
  frontend/package-lock.json
  pyproject.toml
Due: prettier

pre commit
  backend/src/core/database.py
Due: pyright

Freeze Sidebar Header On Admin Mobile View (#323)
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentDescriptionChipDetails.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/details/ContactInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/LocationInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/PartyInfoChipDetails.tsx
  frontend/src/app/staff/_components/party/details/StudentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericChipDetails.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

Initials Instead of Profile Pic (#326)
  frontend/src/components/Header.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/user-avatar.tsx
  frontend/tsconfig.json
Due: tsc, prettier

fix: get readme up to date
  README.md
Due: none

Student info fixes (#343)
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/profile/page.tsx
Due: tsc, prettier

cleaned up form styling across all forms
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/IncidentDialog.tsx
Due: tsc, prettier

refactor: Change JWT sub to be a string, aligning with JWT spec
  backend/src/core/authentication.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_service.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
Due: pyright

Police Signup Logic (#337)
  .devcontainer/docker-compose.yml
  .devcontainer/setup_local.sh
  backend/pyproject.toml
  backend/script/reset_dev.py
  backend/src/core/config.py
  backend/src/core/utils/email_utils.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/test/conftest.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  frontend/.env.template
  frontend/shared/mock_data.json
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/login/police/page.tsx
  frontend/src/app/police/_components/ResendVerificationButton.tsx
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/app/police/verify/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/auth/auth.queries.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
  frontend/src/lib/api/police/police.service.ts
  frontend/src/lib/api/police/police.types.ts
  frontend/src/lib/mockData.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

potential formatting issue
  .devcontainer/saml-idp/authsources.php
Due: none

feat: Allow full name search in party and student tables (#349)
  backend/src/core/utils/query_utils.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/test_party_list_features.py
  backend/test/modules/student/student_router_test.py
Due: pyright

add more tab names
  frontend/src/app/layout.tsx
  frontend/src/app/login/layout.tsx
  frontend/src/app/login/police/layout.tsx
  frontend/src/app/logout/layout.tsx
  frontend/src/app/police/admin/layout.tsx
  frontend/src/app/staff/[tab]/layout.tsx
  frontend/src/app/staff/layout.tsx
  frontend/src/app/student/about-party-smart/layout.tsx
  frontend/src/app/student/new-party/page.tsx
Due: tsc, prettier

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
