Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

Add \"onyen\" to allowed_fields in account service pagination methods
  backend/src/modules/account/account_service.py
Due: pyright

tons of stuff
  backend/src/core/utils/__init__.py
  backend/src/core/utils/bcrypt_utils.py
  backend/src/core/utils/date_utils.py
  backend/src/core/utils/excel_utils.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_model.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/utils/http/assertions.py
Due: pyright

trying to fix everything and resolve it with current status
  package-lock.json
  package.json
Due: none

feat: PR comments fix
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

more changes
  backend/src/modules/account/account_service.py
  backend/src/modules/auth/auth_router.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/auth/auth_router_test.py
  backend/uv.lock
  frontend/src/components/ui/input.tsx
Due: pyright, tsc, prettier

edit snackbars for admin tables done
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/app/providers.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/contexts/SnackbarContext.tsx
  frontend/src/lib/network/apiClient.ts
Due: tsc, prettier

Fixing
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/police/police_service.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/police/police_service_test.py
Due: pyright

fixes
  backend/src/modules/student/student_service.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  frontend/src/components/StudentSearch.tsx
Due: pyright, tsc, prettier

Student Autocomplete Component (#262)
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_service_test.py
  backend/test/modules/party/party_utils.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/components/StudentSearch.tsx
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

some edits
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_lib/tabs.ts
Due: tsc, prettier

Intergrated Filter/Sort
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/police-party.queries.ts
  frontend/src/lib/api/shared/query-params.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
Due: tsc, prettier

student snackbar
  frontend/src/app/student/new-party/page.tsx
Due: tsc, prettier

delete snackbars
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/student/_components/DeletePartyDialog.tsx
Due: tsc, prettier

delete party stuff
  frontend/src/app/student/_components/DeletePartyDialog.tsx
  frontend/src/lib/api/party/party.queries.ts
Due: tsc, prettier

final touches
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/lib/api/party/party.queries.ts
Due: tsc, prettier

small change
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
Due: tsc, prettier

removed some crap
  .claude/settings.json
  backend/uv.lock
Due: none

some gitignore fiddling
  .gitignore
Due: none

quick fixes
  .gitignore
  backend/src/modules/account/account_service.py
Due: pyright

format gitignore
  .gitignore
Due: none

Police Party Filter (#265)
  frontend/package-lock.json
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/page.tsx
  frontend/src/components/ui/button.tsx
Due: tsc, prettier

Update: Account Management (#260)
  .gitignore
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/auth/auth_router.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/account/account_service_test.py
  backend/test/modules/auth/auth_router_test.py
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/ui/input.tsx
Due: pyright, tsc, prettier

fixes
  backend/src/modules/account/account_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_csv_router_test.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/student/student_csv_router_test.py
  backend/test/utils/http/test_templates.py
Due: pyright

fix: Ensure token refresh works in CSR contexts and logs the user out in SSR contexts
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/app/api/auth/token/refresh/route.ts
  frontend/src/app/auth-test/api/tokens/route.ts
  frontend/src/app/auth-test/page.tsx
  frontend/src/app/auth-test/ssr/page.tsx
  frontend/src/app/logout/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/auth/signout.ts
  frontend/src/lib/network/apiClient.ts
Due: tsc, prettier

reorganized the party card according to the figma (base work done)
  frontend/src/app/police/_components/PartyList.tsx
Due: tsc, prettier

more fixes
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_csv_router_test.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/student/student_csv_router_test.py
  backend/test/utils/http/test_templates.py
Due: pyright

Clickable phone numbers in police views
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
Due: tsc, prettier

Feature: Prevent admin from deleting their own account
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/test/modules/account/account_router_test.py
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: pyright, tsc, prettier

applied fixes asked for
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

merge conflicts and advanced party search
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

global css stuff
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

chore: Rehash police password in mock data so password verification works
  frontend/shared/mock_data.json
Due: prettier

Police Styles (#271)
  frontend/src/app/globals.css
  frontend/src/app/police/_components/AddIncidentDialog.tsx
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/police/_components/addIncidentDialog.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

Admin Table Excel Export (#273)
  backend/src/core/utils/__init__.py
  backend/src/core/utils/bcrypt_utils.py
  backend/src/core/utils/date_utils.py
  backend/src/core/utils/excel_utils.py
  backend/src/core/utils/query_utils.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_model.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_csv_router_test.py
  backend/test/modules/incident/incident_csv_router_test.py
  backend/test/modules/location/location_csv_router_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_csv_router_test.py
  backend/test/utils/http/assertions.py
  backend/test/utils/http/test_templates.py
Due: pyright

feat(dev env): mock data and local setup for new auth stuff
  .devcontainer/setup_local.sh
  backend/pyproject.toml
  backend/script/reset_dev.py
  frontend/shared/mock_data.json
Due: pyright, prettier

feat: fix remaining scroll issue and party address ui issue
  frontend/src/app/layout.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/page.tsx
Due: tsc, prettier

chore: revert env changes and fix pre-commit
  .devcontainer/Dockerfile
  .devcontainer/setup_local.sh
  frontend/src/app/student/new-party/page.tsx
  package-lock.json
Due: tsc, prettier

Student Styles (#248)
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/student/_components/EditPartyDialog.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/PartyRegistrationInfo.tsx
  frontend/src/app/student/_components/PartySmartInfo.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/about-party-registration/page.tsx
  frontend/src/app/student/about-party-smart/page.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/ui/accordion.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tabs.tsx
Due: tsc, prettier

Fix Frontend Token Refresh (#282)
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/logout/route.ts
  frontend/src/app/api/auth/token/refresh/route.ts
  frontend/src/app/auth-test/api/tokens/route.ts
  frontend/src/app/auth-test/page.tsx
  frontend/src/app/auth-test/ssr/page.tsx
  frontend/src/app/login/police/page.tsx
  frontend/src/app/logout/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/auth/signout.ts
  frontend/src/lib/network/apiClient.ts
Due: tsc, prettier

fix: hash police pwd at seed time instead of precomputed hash
  backend/script/reset_dev.py
  frontend/shared/mock_data.json
Due: pyright, prettier

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
