Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

.pre-commit-config.yaml:

repos:
  # General purpose
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check # Linting
        args: [--fix] # Auto-fix issues
      - id: ruff-format # Formatting

  # Python type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && pyright'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.tsx?$
        pass_filenames: false

  # JavaScript/TypeScript and other Prettier compatible files
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        # Runs prettier on staged, removing the `frontend/` prefix to work with relative filepaths
        entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: true

feat: Update SAML Docker IdP to expose the correct attributes
  .devcontainer/docker-compose.yml
  .devcontainer/saml-idp/authsources.php
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
Due: tsc, prettier

feat: Add several mock users with different roles to the SAML IdP for testing
  .devcontainer/saml-idp/authsources.php
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/login/saml/route.ts
Due: tsc, prettier

Fixes
  backend/src/modules/incident/incident_model.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
  backend/test/modules/incident/incident_utils.py
Due: pyright

Matthew Barghout-Unregistered Incident Backend (#238)
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/test/conftest.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/incident_service_test.py
  backend/test/modules/incident/incident_utils.py
Due: pyright

Finishing Tickets
  backend/src/core/models.py
  backend/src/core/query_utils.py
  backend/src/modules/account/account_model.py
  backend/src/modules/location/location_model.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_service.py
  backend/test/utils/http/assertions.py
Due: pyright

updated the other date pickers
  frontend/src/app/police/_components/addIncidentDialog.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/components/ClearableDatePicker.tsx
Due: tsc, prettier

Fixes
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/page.tsx
Due: tsc, prettier

commit
  backend/src/modules/party/party_service.py
  frontend/src/app/staff/_components/party/details/StudentInfoChipDetails.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/lib/api/student/student.queries.ts
  frontend/src/lib/api/student/student.service.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

fixed tests
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
Due: pyright

feat: resolving merge conflict styling issues
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/page.tsx
Due: tsc, prettier

Addressed changes
  backend/src/core/query_utils.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_router.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/incident/incident_router_test.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/test_party_list_features.py
Due: pyright

fixed typing issues and mutation checks
  frontend/src/app/providers.tsx
  frontend/src/lib/api/account/account.queries.ts
  frontend/src/lib/api/location/location.queries.ts
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/party/police-party.queries.ts
  frontend/src/lib/api/student/admin-student.queries.ts
  frontend/src/lib/api/student/student.queries.ts
  frontend/src/lib/api/student/student.types.ts
Due: tsc, prettier

feat: add accordion information
  frontend/src/app/student/_components/PartyRegistrationInfo.tsx
  frontend/src/app/student/_components/PartySmartInfo.tsx
  frontend/src/app/student/about-party-registration/page.tsx
  frontend/src/app/student/about-party-smart/page.tsx
Due: tsc, prettier

Residence Backend Implementation (#214)
  backend/src/core/date_utils.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
Due: pyright

fix line endings
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/_components/PartyRegistrationInfo.tsx
  frontend/src/app/student/_components/PartySmartInfo.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StatusComponent.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
  frontend/src/app/student/about-party-registration/page.tsx
  frontend/src/app/student/about-party-smart/page.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/app/student/page.tsx
  frontend/src/app/student/profile/page.tsx
  frontend/src/components/ui/accordion.tsx
Due: tsc, prettier

feat: fix oversighted merge conflict
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/page.tsx
  frontend/src/components/ui/accordion.tsx
Due: tsc, prettier

fixes
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/app/student/new-party/page.tsx
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.queries.ts
  frontend/src/lib/api/student/student.types.ts
Due: tsc, prettier

feat: Add police auth and separate out auth calls by role
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/auth-test/page.tsx
Due: tsc, prettier

chore: update frontend deps
  frontend/package-lock.json
Due: prettier

feat: Update police auth to use backend for authentication
  frontend/.env.template
  frontend/next-auth.d.ts
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/api/auth/token/refresh/route.ts
  frontend/src/app/auth-test/page.tsx
Due: tsc, prettier

feat: Connect student/staff/admin auth to backend for authentication
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/lib/saml.ts
Due: tsc, prettier

feat: Allow refreshing access token in SSR and CSR auth tests to
  frontend/src/app/auth-test/csr/page.tsx
  frontend/src/app/auth-test/ssr/_components/RefreshTokenButton.tsx
  frontend/src/app/auth-test/ssr/page.tsx
Due: tsc, prettier

feat: eslint pre commit
  .pre-commit-config.yaml
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/addIncidentDialog.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

chore: package lock
  frontend/package-lock.json
Due: prettier

fix: dep override breaking eslint
  frontend/package-lock.json
  frontend/package.json
Due: prettier

ESLint Pre-Commit (#257)
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/addIncidentDialog.tsx
  frontend/src/app/student/_components/RegistrationTracker.tsx
  frontend/src/app/student/_components/StudentInfo.tsx
Due: tsc, prettier

Addressed Changes
  backend/src/core/query_utils.py
  backend/src/modules/account/account_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/test/modules/incident/test_incident_list_features.py
  backend/test/modules/party/test_party_list_features.py
  backend/test/modules/query_utils/__init__.py
  backend/test/modules/query_utils/test_query_utils.py
  backend/test/modules/student/student_router_test.py
  backend/test/utils/http/test_templates.py
Due: pyright

refactor: Move auth logic into separate service and define centralized types
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/api/auth/token/refresh/route.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/auth/auth.types.ts
Due: tsc, prettier

refactor: Relate saml roles to account roles
  frontend/src/app/api/auth/login/saml/route.ts
Due: tsc, prettier

chore: Update SAML IdP mock data to match application-wide mock data
  .devcontainer/saml-idp/authsources.php
Due: none

chore: Add docstrings to SAML routes for better readability
  frontend/src/app/api/auth/login/saml/route.ts
Due: tsc, prettier

refactor: Move session cookie name retrieval to auth service
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/api/auth/token/refresh/route.ts
  frontend/src/lib/api/auth/auth.service.ts
Due: tsc, prettier

refactor: Move JWT encoding to auth service
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/api/auth/police/login/route.ts
  frontend/src/app/api/auth/token/refresh/route.ts
  frontend/src/lib/api/auth/auth.service.ts
Due: tsc, prettier

chore: Update README to include proper login credentials
  README.md
Due: none

feat: Add login page and route protection to frontend
  frontend/src/app/login/page.tsx
  frontend/src/app/login/police/page.tsx
  frontend/src/components/Header.tsx
  frontend/src/proxy.ts
Due: tsc, prettier

Police Auth Update
  backend/src/core/authentication.py
  backend/src/main.py
  backend/src/modules/account/account_router.py
  backend/src/modules/auth/auth_model.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/auth/refresh_token_entity.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/police/police_model.py
  backend/src/modules/police/police_router.py
  backend/src/modules/police/police_service.py
  backend/test/conftest.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/auth/auth_utils.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/police/police_router_test.py
  backend/test/modules/police/police_service_test.py
  backend/test/modules/police/police_utils.py
  backend/test/modules/student/student_router_test.py
Due: pyright

fixing issues on last PR
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
Due: tsc, prettier

fixing naming scheme of components
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
Due: tsc, prettier

responding to comments
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericInfoChip.tsx
  frontend/src/app/staff/_components/shared/sidebar/GenericSidebar.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/page.tsx
  frontend/src/app/student/page.tsx
Due: tsc, prettier
