Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

docs: add backend/frontend READMEs and link them from the root README
  README.md
  backend/README.md
  frontend/README.md
Due: prettier

fix: tests
  backend/test/modules/location/location_router_test.py
Due: pyright

fix: update notion placeholder
  README.md
Due: none

regi-card-render limits
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/hooks/useInfiniteScroll.ts
Due: tsc, prettier

fix: specific viewport breaks scroll updates
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/hooks/useInfiniteScroll.ts
Due: tsc, prettier

tests: add infinite scroll e2e tests
  frontend/e2e/global-setup.ts
  frontend/e2e/test/student/dashboard-tracker.spec.ts
Due: tsc, prettier

feat: infinite scroll for past parties in registration tracker (#473)
  frontend/e2e/global-setup.ts
  frontend/e2e/test/student/dashboard-tracker.spec.ts
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/hooks/useInfiniteScroll.ts
Due: tsc, prettier

docs: update docs for new pr
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/hooks/useInfiniteScroll.ts
Due: tsc, prettier

docs: fix mangled markdown
  README.md
Due: none

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
