Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

style: Filter input styles and fixes
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/components/StudentSearch.tsx
Due: tsc, prettier

Typeable Date Picker, Unified Date Range Filter (#387)
  desc.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/FilterInput.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/DateRangeFilter.tsx
  frontend/src/components/StudentSearch.tsx
  frontend/src/components/ui/calendar.tsx
Due: tsc, prettier

feat: backend dual use
  backend/src/modules/party/party_router.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

feat: frontend impl and some tests
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  desc.txt
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/components/Header.tsx
  frontend/src/lib/auth/route-access.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

fix: tests
  .gitignore
  backend/test/conftest.py
  backend/test/modules/account/account_utils.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  pyproject.toml
Due: pyright

feat: allow staff/admin to host parties (dual-use accounts) (#396)
  .gitignore
  backend/src/modules/party/party_router.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/modules/account/account_utils.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  desc.txt
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/components/Header.tsx
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.types.ts
  frontend/src/lib/auth/route-access.ts
  frontend/src/proxy.ts
  pyproject.toml
Due: pyright, tsc, prettier

working impl
  frontend/src/components/DatePicker.tsx
  frontend/src/components/DateRangeFilter.tsx
Due: tsc, prettier

updated some error handling
  frontend/src/app/(student)/_components/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/ResendVerificationButton.tsx
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/police/login/page.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/app/police/verify/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/lib/errors.ts
  frontend/src/lib/network/apiClient.ts
Due: tsc, prettier

linter issues fixed
  frontend/src/components/DateRangeFilter.tsx
Due: tsc, prettier

precommit fix
  frontend/src/components/DatePicker.tsx
Due: tsc, prettier

feat: incident count busniess logic
  backend/src/core/utils/query_utils.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_service.py
  backend/test/modules/incident/incident_list_features_test.py
  backend/test/modules/incident/incident_utils.py
  frontend/src/lib/api/incident/incident.queries.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/incident/incident.types.ts
Due: pyright, tsc, prettier

feat: incident count UI
  frontend/src/app/staff/_components/incident/IncidentSeverityCountsHeader.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

refactor: consolidate inicdent severity lables
  backend/src/core/utils/query_utils.py
  backend/src/modules/incident/incident_service.py
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/staff/_components/incident/IncidentSeverityCountsHeader.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/lib/api/incident/incident.types.ts
Due: pyright, tsc, prettier

style: summary styles
  frontend/src/app/staff/_components/incident/IncidentSeverityCountsHeader.tsx
Due: tsc, prettier

feat: responsive design
  frontend/src/app/staff/_components/incident/IncidentSeverityCountsHeader.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

chore: pre commit
  backend/test/modules/incident/incident_list_features_test.py
  frontend/src/lib/api/incident/incident.queries.ts
Due: pyright, tsc, prettier

refactor: centralize frontend error messaging (#397)
  frontend/src/app/(student)/_components/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/ResendVerificationButton.tsx
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/police/login/page.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/app/police/verify/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/DateRangeFilter.tsx
  frontend/src/lib/errors.ts
  frontend/src/lib/network/apiClient.ts
Due: tsc, prettier

feat: incident severity counts in staff table (#398)
  backend/src/core/utils/query_utils.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/incident/incident_service.py
  backend/test/modules/incident/incident_list_features_test.py
  backend/test/modules/incident/incident_utils.py
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/staff/_components/incident/IncidentSeverityCountsHeader.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/lib/api/incident/incident.queries.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/incident/incident.types.ts
Due: pyright, tsc, prettier

feat: cancel party UI and small changes
  backend/script/reset_dev.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_service_test.py
  frontend/shared/mock_data.json
  frontend/src/app/(student)/_components/DeletePartyDialog.tsx
  frontend/src/app/(student)/_components/RegistrationTracker.tsx
  frontend/src/app/globals.css
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/dialog/DeleteConfirmDialog.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/mockData.ts
Due: pyright, tsc, prettier

fix: reset dev
  backend/script/reset_dev.py
Due: pyright

feat: cancel/restore parties with idempotent endpoints (#401)
  backend/script/reset_dev.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_service_test.py
  frontend/shared/mock_data.json
  frontend/src/app/(student)/_components/DeletePartyDialog.tsx
  frontend/src/app/(student)/_components/RegistrationTracker.tsx
  frontend/src/app/globals.css
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/dialog/DeleteConfirmDialog.tsx
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/lib/api/party/admin-party.queries.ts
  frontend/src/lib/api/party/party.queries.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/mockData.ts
Due: pyright, tsc, prettier

ui: fix table padding gap
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

ui: fix extra placeholder rows
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

ui: fix default sort update overflow and filtered column background
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

ui: table layout polish and dynamic filler rows (#402)
  frontend/src/app/staff/_components/shared/table/ColumnHeader.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

refactor(party service): extract utils, reduce duplication, consolidate party validation
  backend/src/core/exceptions.py
  backend/src/core/utils/date_utils.py
  backend/src/core/utils/phone_utils.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_service_test.py
  backend/test/modules/party/party_utils.py
  backend/test/utils/http/assertions.py
  frontend/package-lock.json
  frontend/package.json
  frontend/shared/mock_data.json
  frontend/src/app/(student)/_components/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/components/ClearableDatePicker.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/lib/api/party/party.types.ts
Due: pyright, tsc, prettier

refactor(party service): extract utils, reduce duplication, consolidate party validation (#403)
  backend/src/core/exceptions.py
  backend/src/core/utils/date_utils.py
  backend/src/core/utils/phone_utils.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_service_test.py
  backend/test/modules/party/party_utils.py
  backend/test/utils/http/assertions.py
  frontend/package-lock.json
  frontend/package.json
  frontend/shared/mock_data.json
  frontend/src/app/(student)/_components/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/components/ClearableDatePicker.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/lib/api/party/party.types.ts
Due: pyright, tsc, prettier

feat: proactive hold validation
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/RegistrationTracker.tsx
  frontend/src/app/(student)/_components/StatusComponent.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/app/(student)/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/components/ui/tabs.tsx
Due: tsc, prettier

feat: proactive hold validation (#405)
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/RegistrationTracker.tsx
  frontend/src/app/(student)/_components/StatusComponent.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/app/(student)/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/components/ui/tabs.tsx
Due: tsc, prettier

ui: student profile
  frontend/src/app/(student)/_components/StudentInfo.tsx
Due: tsc, prettier

feat: date input improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DatePicker.tsx
Due: tsc, prettier

fix: empty cells instead of dashes for null fields in Excel export (#394)
  backend/src/modules/incident/incident_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
Due: pyright

feat: clickable logo navigates to user's dashboard (#388)
  frontend/src/components/Header.tsx
Due: tsc, prettier

feat: validate contact two email is a UNC address (#389)
  .gitignore
  backend/src/modules/party/party_model.py
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
Due: pyright, tsc, prettier

feat: add name search to student autocomplete
  backend/src/modules/student/student_service.py
  backend/test/modules/student/student_service_test.py
  frontend/src/components/StudentSearch.tsx
Due: pyright, tsc, prettier

feat: add first/last page buttons to table pagination
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/ui/pagination.tsx
Due: tsc, prettier

feat: add created_at to all entities (#380)
  backend/alembic/versions/3dc73576763e_add_created_at_to_all_entities.py
  backend/src/modules/account/account_entity.py
  backend/src/modules/account/invite_token_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/student/student_entity.py
Due: pyright

fix(tests): update test emails to use @unc.edu domain
  backend/test/modules/party/party_list_features_test.py
  backend/test/modules/party/party_utils.py
Due: pyright

fix(tests): update colliding contact email to use @unc.edu domain
  .gitignore
  backend/test/modules/party/party_router_test.py
  frontend/shared/mock_data.json
Due: pyright, prettier

fix(tests): update null residence assertion to expect None instead of dash
  backend/test/modules/student/student_router_test.py
Due: pyright

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
