Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

pyright:
  name: pyright
  entry: bash -c 'cd backend && pyright'
  language: system
  pass_filenames: false

tsc:
  name: tsc
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
  language: system
  pass_filenames: true

first iteration
  .vscode/tasks.json
  frontend/.gitignore
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/seedData.ts
  frontend/e2e/helpers/table.ts
  frontend/e2e/test/police/admin.spec.ts
  frontend/e2e/test/staff/accounts.spec.ts
  frontend/e2e/test/staff/incidents.spec.ts
  frontend/e2e/test/staff/locations.spec.ts
  frontend/e2e/test/staff/parties.spec.ts
  frontend/e2e/test/staff/students.spec.ts
  frontend/e2e/test/staff/table.spec.ts
  frontend/e2e/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tsconfig.json
Due: tsc, prettier

impl (#419)
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

small style changes
  frontend/src/app/police/admin/layout.tsx
  frontend/src/lib/auth/route-access.ts
Due: tsc, prettier

feat: add police admin incidents tab using shared incident table (#432)
  backend/src/modules/location/location_router.py
  backend/test/modules/location/location_router_test.py
  frontend/src/app/police/admin/[tab]/page.tsx
  frontend/src/app/police/admin/_lib/tabs.tsx
  frontend/src/app/police/admin/layout.tsx
  frontend/src/app/police/admin/page.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/lib/auth/route-access.ts
Due: pyright, tsc, prettier

fix: id conflict, info window styling, info window persistence
  backend/src/modules/party/party_service.py
  frontend/src/app/globals.css
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyList.tsx
Due: pyright, tsc, prettier

tests: update for desc party default sort
  backend/test/modules/party/party_router_test.py
Due: pyright

refactor: ensure date-fns formatting, new row labels, police table rename, header slot mobile render
  frontend/src/app/(student)/_components/RegistrationStatus.tsx
  frontend/src/app/police/admin/[tab]/page.tsx
  frontend/src/app/police/admin/_components/PoliceAccountsTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentSeverityCountsHeader.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/details/LocationInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/details/PartyInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/lib/utils.ts
Due: tsc, prettier

ui: incident header loading width
  frontend/src/app/staff/_components/incident/IncidentSeverityCountsHeader.tsx
Due: tsc, prettier

Add party notification emails
  backend/.env.template
  backend/alembic/versions/6315f52c93cf_add_email_unsubscribes.py
  backend/src/core/assets/partysmart_logo.png
  backend/src/core/config.py
  backend/src/core/utils/email_utils.py
  backend/src/main.py
  backend/src/modules/__init__.py
  backend/src/modules/account/account_service.py
  backend/src/modules/notification/__init__.py
  backend/src/modules/notification/email_unsubscribe_entity.py
  backend/src/modules/notification/notification_model.py
  backend/src/modules/notification/notification_router.py
  backend/src/modules/notification/notification_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_service.py
  backend/test/conftest.py
  backend/test/core/utils/email_utils/__init__.py
  backend/test/core/utils/email_utils/email_utils_test.py
  backend/test/modules/notification/__init__.py
  backend/test/modules/notification/notification_router_test.py
  backend/test/modules/notification/notification_service_test.py
  deploy/.env.prod.template
  frontend/.env.template
  frontend/public/Home1CarolinaBlue.png
  frontend/src/app/apple-icon.png
  frontend/src/app/icon.png
  frontend/src/app/layout.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/police/login/page.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/components/icons/OCSL_mobile_logo.svg
  frontend/src/components/icons/party_smart_desktop_logo.svg
  frontend/src/components/icons/party_smart_logo_vertical.svg
  frontend/src/lib/api/notification/notification.queries.ts
  frontend/src/lib/api/notification/notification.service.ts
  frontend/src/lib/api/notification/notification.types.ts
Due: pyright, tsc, prettier

Fix backend test workflow env
  .github/workflows/backend-test.yml
Due: none

ui: change 'New Account' to 'New Invite'
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
Due: tsc, prettier

feat: switch account default sort to onyen in order to group staff accounts; fix: account tab relaod; refactor: tab slug type assertion function to remove casts
  backend/src/modules/account/account_service.py
  backend/test/modules/account/account_router_test.py
  frontend/src/app/police/admin/[tab]/page.tsx
  frontend/src/app/police/admin/_lib/tabs.tsx
  frontend/src/app/staff/[tab]/layout.tsx
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_lib/tabs.tsx
Due: pyright, tsc, prettier

built page following the error page
  frontend/src/app/not-found.tsx
Due: tsc, prettier

refactor: police view mobile audit, auth route reorganization, and component cleanup (#433)
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_router.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/police/police_router_test.py
  frontend/src/app/(student)/_components/RegistrationStatus.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationPartyCard.tsx
  frontend/src/app/police/(auth)/_components/AuthCard.tsx
  frontend/src/app/police/(auth)/_components/ResendVerificationButton.tsx
  frontend/src/app/police/(auth)/login/layout.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/signup/layout.tsx
  frontend/src/app/police/(auth)/signup/page.tsx
  frontend/src/app/police/(auth)/verify/layout.tsx
  frontend/src/app/police/(auth)/verify/page.tsx
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/police/login/page.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/app/police/verify/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountTableForm.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/DateRangeFilter.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/components/icons/IncidentFlag.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/lib/auth/route-access.ts
  frontend/src/lib/utils.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

feat: party notification emails (#439)
  .github/workflows/backend-test.yml
  backend/.env.template
  backend/alembic/versions/6315f52c93cf_add_email_unsubscribes.py
  backend/src/core/assets/partysmart_logo.png
  backend/src/core/config.py
  backend/src/core/utils/email_utils.py
  backend/src/main.py
  backend/src/modules/__init__.py
  backend/src/modules/account/account_service.py
  backend/src/modules/notification/__init__.py
  backend/src/modules/notification/email_unsubscribe_entity.py
  backend/src/modules/notification/notification_model.py
  backend/src/modules/notification/notification_router.py
  backend/src/modules/notification/notification_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_service.py
  backend/test/conftest.py
  backend/test/core/utils/email_utils/__init__.py
  backend/test/core/utils/email_utils/email_utils_test.py
  backend/test/modules/notification/__init__.py
  backend/test/modules/notification/notification_router_test.py
  backend/test/modules/notification/notification_service_test.py
  deploy/.env.prod.template
  frontend/.env.template
  frontend/public/Home1CarolinaBlue.png
  frontend/src/app/apple-icon.png
  frontend/src/app/icon.png
  frontend/src/app/layout.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/signup/page.tsx
  frontend/src/components/icons/OCSL_mobile_logo.svg
  frontend/src/components/icons/party_smart_desktop_logo.svg
  frontend/src/components/icons/party_smart_logo_vertical.svg
  frontend/src/lib/api/notification/notification.queries.ts
  frontend/src/lib/api/notification/notification.service.ts
  frontend/src/lib/api/notification/notification.types.ts
Due: pyright, tsc, prettier

feat: role conditional data visibility
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
  backend/test/modules/student/student_utils.py
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/party/police-party.queries.ts
Due: pyright, tsc, prettier

feat: role conditional data visibility (#442)
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
  backend/test/modules/student/student_utils.py
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/page.tsx
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/api/party/police-party.queries.ts
Due: pyright, tsc, prettier

fix: ensure single main landmark per page (#430)
  frontend/src/app/(student)/about-party-registration/page.tsx
  frontend/src/app/(student)/about-party-smart/page.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/auth-error/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/notifications/page.tsx
  frontend/src/app/police/(auth)/_components/AuthCard.tsx
  frontend/src/app/police/admin/layout.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

refactor: use shadcn Button for raw button elements (#441)
  frontend/src/app/(student)/_components/info/DialogItem.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/signup/page.tsx
  frontend/src/app/police/_components/PartyCard.tsx
Due: tsc, prettier

fix: improve landmark semantics and region labels (#266)
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/Header.tsx
Due: tsc, prettier

refactor: rebuild detail sidebar on Radix Sheet for a11y (#266)
  frontend/src/app/staff/_components/shared/sidebar/Sidebar.tsx
Due: tsc, prettier

refactor: migrate all forms to react-hook-form + shadcn Form (#431)
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/signup/page.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountTableForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/IncidentDialog.tsx
Due: tsc, prettier

refactor: remove explicit DI and fix styles
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountTableForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/ui/form.tsx
Due: tsc, prettier

refactor: extract styles into shared field and form shell components
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/info/DialogItem.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/signup/page.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountTableForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/details/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/sidebar/Sidebar.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/components/form/FormShell.tsx
  frontend/src/components/form/SubmitButton.tsx
  frontend/src/components/form/fields.tsx
  frontend/src/components/ui/sheet.tsx
Due: tsc, prettier

built page following the error page (#450)
  frontend/src/app/not-found.tsx
Due: tsc, prettier

primary impl
  backend/src/modules/account/account_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_model.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/location/location_model.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/student/student_service_test.py
  backend/test/modules/student/student_utils.py
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationIncidentCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/lib/api/incident/incident.types.ts
  frontend/src/lib/api/location/location.types.ts
  frontend/src/lib/api/student/student.queries.ts
  frontend/src/lib/api/student/student.service.ts
  frontend/src/lib/api/student/student.types.ts
Due: pyright, tsc, prettier

refactor: various accessibility improvements
  frontend/src/app/(student)/_components/RegistrationStatus.tsx
  frontend/src/app/(student)/_components/tracker/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/(student)/page.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/shared/details/IncidentInfoChipDetails.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/DatePicker.tsx
  frontend/src/components/PaginationControls.tsx
  frontend/src/components/ui/pagination.tsx
Due: tsc, prettier

refactor(pagination): replace showLabel with labelClassName, hide prev/next labels below @lg
  frontend/src/components/ui/pagination.tsx
Due: tsc, prettier

feat: new party validation rules and form UX improvements
  backend/.env.template
  backend/src/core/config.py
  backend/src/core/utils/date_utils.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
  deploy/.env.prod.template
  deploy/Dockerfile.frontend
  deploy/docker-compose.prod.yml
  frontend/.env.template
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/tracker/EditPartyDialog.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/signup/page.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountTableForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/config/env.client.ts
Due: pyright, tsc, prettier

fix: move cheaper operations earlier
  backend/src/modules/party/party_service.py
Due: pyright

feat: new party validation rules and form UX improvements (#454)
  backend/.env.template
  backend/src/core/config.py
  backend/src/core/utils/date_utils.py
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
  deploy/.env.prod.template
  deploy/Dockerfile.frontend
  deploy/docker-compose.prod.yml
  frontend/.env.template
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/tracker/EditPartyDialog.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/signup/page.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountTableForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/lib/api/party/party.types.ts
  frontend/src/lib/config/env.client.ts
Due: pyright, tsc, prettier

feat: migrate from programmatic autofill to html form autofill
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/components/form/fields.tsx
Due: tsc, prettier

feat: migrate from programmatic autofill to html form autofill (#455)
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/new-party/page.tsx
  frontend/src/components/form/fields.tsx
Due: tsc, prettier

feat: add default for NEXT_PUBLIC_COURSE_LINK and update deploy docs
  deploy/.env.prod.template
  deploy/README.md
  frontend/.env.template
  frontend/src/lib/config/env.client.ts
Due: tsc, prettier

feat: add default for NEXT_PUBLIC_COURSE_LINK and update deploy docs (#456)
  deploy/.env.prod.template
  deploy/README.md
  frontend/.env.template
  frontend/src/lib/config/env.client.ts
Due: tsc, prettier

fix: contact two email notice, autocomplete, and address change bug
  backend/src/modules/notification/notification_service.py
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
Due: pyright, tsc, prettier

fix: contact two email notice, autocomplete, and address change bug (#457)
  backend/src/modules/notification/notification_service.py
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
Due: pyright, tsc, prettier

feat: migrate frontend to React Compiler with manual memo cleanup
  frontend/eslint.config.mjs
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationIncidentCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationPartyCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/admin/_components/PoliceAccountsTable.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/details/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/shared/sidebar/SidebarContent.tsx
  frontend/src/app/staff/_components/shared/sidebar/SidebarContext.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/shared/table/useServerTableState.ts
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/StudentSearch.tsx
  frontend/src/components/ui/field.tsx
Due: tsc, prettier

Path conditions:
  pyright: any of: ^backend/.*\.py$
  tsc: any of: ^frontend/.*\.tsx?$
  prettier: any of: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
