Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

.pre-commit-config.yaml:

repos:
  # General purpose
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check # Linting
        args: [--fix] # Auto-fix issues
      - id: ruff-format # Formatting

  # Python type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && pyright'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.tsx?$
        pass_filenames: false

  # JavaScript/TypeScript and other Prettier compatible files
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        # Runs prettier on staged, removing the `frontend/` prefix to work with relative filepaths
        entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: true

fix: empty cells for null fields in Excel export (#406)
  .gitignore
  backend/alembic/versions/3dc73576763e_add_created_at_to_all_entities.py
  backend/src/modules/account/account_entity.py
  backend/src/modules/account/invite_token_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_model.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_list_features_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
  backend/test/modules/student/student_router_test.py
  frontend/shared/mock_data.json
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/components/Header.tsx
Due: pyright, tsc, prettier

feat: add name search to student autocomplete (#407)
  backend/src/modules/student/student_service.py
  backend/test/modules/student/student_service_test.py
  frontend/src/components/StudentSearch.tsx
Due: pyright, tsc, prettier

ui: use ... instead of new first and last buttons
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

feat: add first/last page jump to table pagination (#408)
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/ui/pagination.tsx
Due: tsc, prettier

fix: align party smart tabs across student layouts
  frontend/src/app/(student)/_components/PartySmartInfo.tsx
  frontend/src/app/(student)/about-party-smart/page.tsx
  frontend/src/app/(student)/page.tsx
Due: tsc, prettier

ui: footer, date range input, registration tracker icons
  frontend/src/app/(student)/_components/RegistrationTracker.tsx
  frontend/src/app/(student)/page.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/SplitDateRangeFilter.tsx
  frontend/src/app/police/admin/layout.tsx
  frontend/src/app/police/admin/page.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/DateRangeFilter.tsx
  frontend/src/components/Footer.tsx
Due: tsc, prettier

fix: reduce warning footprint and uncramp party smart panel
  frontend/src/app/(student)/_components/PartySmartInfo.tsx
  frontend/src/app/(student)/page.tsx
Due: tsc, prettier

fix: pin turbopack root to frontend workspace
  frontend/next.config.ts
Due: tsc, prettier

fix: move warning up and expand party smart space
  frontend/src/app/(student)/page.tsx
Due: tsc, prettier

refactor: open student info sections in dialogs
  frontend/src/app/(student)/_components/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/PartySmartInfo.tsx
  frontend/src/app/(student)/page.tsx
Due: tsc, prettier

ui: use popup icon for dialog-based info rows
  frontend/src/app/(student)/_components/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/PartySmartInfo.tsx
Due: tsc, prettier

ui: use info icons for dialog section rows
  frontend/src/app/(student)/_components/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/PartySmartInfo.tsx
Due: tsc, prettier

feat: add custom auth error page
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/auth-error/page.tsx
  frontend/src/lib/auth/auth-options.ts
Due: tsc, prettier

refactor: remove vestigal accordian components and extract shared code
  frontend/src/app/(student)/_components/DialogItem.tsx
  frontend/src/app/(student)/_components/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/PartySmartInfo.tsx
Due: tsc, prettier

fix: align party smart tabs across student layouts (#410)
  frontend/next.config.ts
  frontend/src/app/(student)/_components/DialogItem.tsx
  frontend/src/app/(student)/_components/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/PartySmartInfo.tsx
  frontend/src/app/(student)/about-party-smart/page.tsx
Due: tsc, prettier

devops: tsc -> tsgo
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: prettier

feat: add custom auth error page (#411)
  frontend/src/app/api/auth/login/saml/route.ts
  frontend/src/app/auth-error/page.tsx
  frontend/src/lib/auth/auth-options.ts
Due: tsc, prettier

feat: add info hover cards for last registered and hold expiration (#239)
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/ui/hover-card.tsx
Due: tsc, prettier

feat: add info hover cards for last registered and hold expiration (#239) (#412)
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/ui/hover-card.tsx
Due: tsc, prettier

feat: extract placeholders to env vars (contact email, course link, academic year switch)
  backend/.env.template
  backend/src/core/config.py
  backend/src/core/utils/date_utils.py
  backend/test/modules/student/student_utils.py
  deploy/.env.prod.template
  deploy/Dockerfile.frontend
  deploy/README.md
  deploy/docker-compose.prod.yml
  frontend/.env.template
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/StatusComponent.tsx
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/auth-error/page.tsx
  frontend/src/components/Footer.tsx
  frontend/src/lib/config/env.client.ts
  frontend/src/lib/utils.ts
Due: pyright, tsc, prettier

feat: extract placeholders to env vars (contact email, course link, academic year switch) (#413)
  backend/.env.template
  backend/src/core/config.py
  backend/src/core/utils/date_utils.py
  backend/test/modules/student/student_utils.py
  deploy/.env.prod.template
  deploy/Dockerfile.frontend
  deploy/README.md
  deploy/docker-compose.prod.yml
  frontend/.env.template
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/StatusComponent.tsx
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/auth-error/page.tsx
  frontend/src/components/Footer.tsx
  frontend/src/lib/config/env.client.ts
  frontend/src/lib/utils.ts
Due: pyright, tsc, prettier

fix: update backend imports that worked locally but broke deploy
  backend/src/modules/police/police_router.py
  backend/src/modules/student/student_router.py
Due: pyright

refactor: replace preemptive SELECT guards with IntegrityError-based conflict handling
  backend/src/modules/account/account_entity.py
  backend/src/modules/account/account_service.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_model.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/location/location_service_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
Due: pyright

refactor: replace preemptive SELECT guards with IntegrityError-based conflict handling (#416)
  backend/src/modules/account/account_entity.py
  backend/src/modules/account/account_service.py
  backend/src/modules/auth/auth_router.py
  backend/src/modules/auth/auth_service.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_model.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  backend/test/modules/auth/auth_router_test.py
  backend/test/modules/auth/auth_service_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/location/location_service_test.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_service_test.py
Due: pyright

refactor: replace ExcelExporter class with typed export_to_excel function
  backend/src/core/utils/excel_utils.py
  backend/src/core/utils/phone_utils.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_service.py
Due: pyright

refactor: replace ExcelExporter class with typed export_to_excel function (#417)
  backend/src/core/utils/excel_utils.py
  backend/src/core/utils/phone_utils.py
  backend/src/modules/account/account_service.py
  backend/src/modules/incident/incident_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_service.py
  backend/src/modules/student/student_service.py
Due: pyright

refactor: apply React rendering optimizations across frontend components
  .vscode/tasks.json
  frontend/src/app/(student)/_components/RegistrationIncidentCard.tsx
  frontend/src/app/(student)/_components/RegistrationPartyCard.tsx
  frontend/src/app/(student)/_components/RegistrationTracker.tsx
  frontend/src/app/globals.css
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/providers.tsx
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/components/icons/IncidentFlag.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/apiClient.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.service.ts
  frontend/src/lib/errors.ts
Due: tsc, prettier

refactor: apply React rendering optimizations across frontend components (#418)
  .vscode/tasks.json
  frontend/src/app/(student)/_components/RegistrationIncidentCard.tsx
  frontend/src/app/(student)/_components/RegistrationPartyCard.tsx
  frontend/src/app/(student)/_components/RegistrationTracker.tsx
  frontend/src/app/globals.css
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/providers.tsx
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/IncidentInfoChipDetails.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/components/icons/IncidentFlag.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/lib/api/account/account.service.ts
  frontend/src/lib/api/apiClient.ts
  frontend/src/lib/api/auth/auth.service.ts
  frontend/src/lib/api/incident/incident.service.ts
  frontend/src/lib/api/location/location.service.ts
  frontend/src/lib/api/party/party.service.ts
  frontend/src/lib/api/student/admin-student.service.ts
  frontend/src/lib/api/student/student.service.ts
  frontend/src/lib/errors.ts
Due: tsc, prettier

impl
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

feat: add Google Cloud map style for police embedded map
  deploy/README.md
  deploy/map-style.json
Due: none

feat: add Google Cloud map style for police embedded map (#420)
  deploy/README.md
  deploy/map-style.json
Due: none

refactor: student view mobile audit, component reorganization, and profile inline
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/RegistrationStatus.tsx
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/(student)/_components/info/DialogItem.tsx
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/info/PartySmartInfo.tsx
  frontend/src/app/(student)/_components/tracker/DeletePartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationIncidentCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationPartyCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/(student)/about-party-registration/page.tsx
  frontend/src/app/(student)/about-party-smart/page.tsx
  frontend/src/app/(student)/page.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/lib/utils.ts
Due: tsc, prettier

refactor: student view mobile audit, component reorganization, and profile inline (#425)
  frontend/src/app/(student)/_components/PartyRegistrationForm.tsx
  frontend/src/app/(student)/_components/RegistrationStatus.tsx
  frontend/src/app/(student)/_components/StudentInfo.tsx
  frontend/src/app/(student)/_components/info/DialogItem.tsx
  frontend/src/app/(student)/_components/info/PartyRegistrationInfo.tsx
  frontend/src/app/(student)/_components/info/PartySmartInfo.tsx
  frontend/src/app/(student)/_components/tracker/DeletePartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/EditPartyDialog.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationIncidentCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationPartyCard.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationTracker.tsx
  frontend/src/app/(student)/about-party-registration/page.tsx
  frontend/src/app/(student)/about-party-smart/page.tsx
  frontend/src/app/(student)/page.tsx
  frontend/src/app/(student)/profile/page.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/account/PoliceAccountForm.tsx
  frontend/src/app/staff/_components/incident/IncidentTableForm.tsx
  frontend/src/app/staff/_components/location/LocationTableForm.tsx
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/lib/utils.ts
Due: tsc, prettier

refactor: staff view mobile audit and table template cleanup
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/shared/TableList.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/ui/select.tsx
Due: tsc, prettier

refactor: staff view mobile audit and table template cleanup (#428)
  frontend/src/app/staff/[tab]/page.tsx
  frontend/src/app/staff/_components/shared/TableList.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/ui/select.tsx
Due: tsc, prettier

feat: add police admin incidents tab and resolve locations 403
  backend/src/modules/location/location_router.py
  frontend/src/app/police/admin/[tab]/page.tsx
  frontend/src/app/police/admin/_lib/tabs.tsx
  frontend/src/app/police/admin/layout.tsx
  frontend/src/app/police/admin/page.tsx
  frontend/src/app/staff/_components/incident/IncidentTable.tsx
Due: pyright, tsc, prettier

test: allow police_admin access in location auth expectations
  backend/test/modules/location/location_router_test.py
Due: pyright

refactor: police view mobile audit, auth route reorganization, and component cleanup
  backend/src/modules/police/police_router.py
  frontend/src/app/(student)/_components/RegistrationStatus.tsx
  frontend/src/app/(student)/_components/tracker/RegistrationPartyCard.tsx
  frontend/src/app/globals.css
  frontend/src/app/police/(auth)/_components/AuthCard.tsx
  frontend/src/app/police/(auth)/_components/ResendVerificationButton.tsx
  frontend/src/app/police/(auth)/login/layout.tsx
  frontend/src/app/police/(auth)/login/page.tsx
  frontend/src/app/police/(auth)/signup/layout.tsx
  frontend/src/app/police/(auth)/signup/page.tsx
  frontend/src/app/police/(auth)/verify/layout.tsx
  frontend/src/app/police/(auth)/verify/page.tsx
  frontend/src/app/police/_components/AdvancedPartySearch.tsx
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/PartyCard.tsx
  frontend/src/app/police/_components/PartyCsvExportButton.tsx
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/admin/_components/PoliceAdminTable.tsx
  frontend/src/app/police/login/page.tsx
  frontend/src/app/police/page.tsx
  frontend/src/app/police/signup/page.tsx
  frontend/src/app/police/verify/page.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/PoliceAccountTableForm.tsx
  frontend/src/app/staff/_components/location/IncidentSidebarCard.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/components/AddressSearch.tsx
  frontend/src/components/DateRangeFilter.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/IncidentDialog.tsx
  frontend/src/components/icons/IncidentFlag.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/lib/auth/route-access.ts
  frontend/src/lib/utils.ts
  frontend/src/proxy.ts
Due: pyright, tsc, prettier

test: update police router tests to reflect police_admin PUT access
  backend/test/modules/police/police_router_test.py
Due: pyright
