Repository cssgunc/party-registration: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, tsc, prettier

.pre-commit-config.yaml:

repos:
  # General purpose
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Python linting and formatting with Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check # Linting
        args: [--fix] # Auto-fix issues
      - id: ruff-format # Formatting

  # Python type checking
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: bash -c 'cd backend && pyright'
        language: system
        files: ^backend/.*\.py$
        pass_filenames: false

  # TypeScript type checking
  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.tsx?$
        pass_filenames: false

  # JavaScript/TypeScript and other Prettier compatible files
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        # Runs prettier on staged, removing the `frontend/` prefix to work with relative filepaths
        entry: bash -c 'cd frontend && npx prettier --write "${@/#frontend\//}"' --
        language: system
        files: ^frontend/.*\.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: true

fixes
  backend/src/core/query_utils.py
  backend/src/modules/party/party_service.py
Due: pyright

i think i fixed stuff
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  frontend/src/lib/api/party/party.service.ts
Due: pyright, tsc, prettier

Fix Router
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/student/student_router.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

reimplemented lost changes
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/page.tsx
Due: tsc, prettier

feat: migrate source code from PostgreSQL to SQL Server
  backend/.env.template
  backend/pyproject.toml
  backend/script/create_db.py
  backend/script/create_test_db.py
  backend/script/delete_db.py
  backend/script/reset_dev.py
  backend/src/core/config.py
  backend/src/core/database.py
  backend/src/modules/account/account_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/location/location_entity.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/student/student_entity.py
Due: pyright

feat: migrate test infrastructure to SQL Server
  backend/test/conftest.py
Due: pyright

feat: migrate devcontainer and CI to SQL Server
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post_create.sh
  .github/workflows/backend-test.yml
Due: none

docs: update README for SQL Server migration
  README.md
Due: none

temp
  SQL_SERVER_MIGRATION.md
  backend/script/reset_dev.py
  backend/src/modules/account/account_entity.py
  backend/src/modules/incident/incident_entity.py
  backend/src/modules/party/party_entity.py
  backend/src/modules/party/party_service.py
  backend/src/modules/police/police_entity.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_service.py
  backend/test/conftest.py
  frontend/src/app/police/page.tsx
Due: pyright, tsc, prettier

useRole sutff
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/location/LocationTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier

PR done
  backend/src/modules/account/account_entity.py
  backend/src/modules/account/account_service.py
  backend/test/modules/account/account_service_test.py
Due: pyright

Restricted Staff Permissions (#175)
  frontend/next-auth.d.ts
  frontend/src/app/providers.tsx
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/party/PartyTable.tsx
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/page.tsx
  frontend/src/contexts/RoleContext.tsx
Due: tsc, prettier

Implement parse_pagination_params and apply to party/student routers
  backend/src/core/query_utils.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/party/party_router_test.py
Due: pyright

Implement parse_pagination_params for all paginated routers
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/test/modules/location/location_router_test.py
Due: pyright

Fix Router (#185)
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/student/student_router.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

chore: update packages
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: prettier

feat: add nav buttons to home page
  frontend/src/app/page.tsx
Due: tsc, prettier

chore: update package
  frontend/package-lock.json
  frontend/package.json
Due: prettier

Small Additions (#188)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Due: tsc, prettier

Tweaks
  backend/src/core/query_utils.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/student/student_router_test.py
Due: pyright

added fastapi docs for testing and integration with frontend
  backend/src/core/query_utils.py
  backend/src/modules/account/account_router.py
  backend/src/modules/location/location_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/student/student_router.py
  frontend/src/lib/api/account/account.service.ts
Due: pyright, tsc, prettier

BackendFilter/Sort (#170)
  backend/src/core/query_utils.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_router.py
  backend/src/modules/account/account_service.py
  backend/src/modules/location/location_router.py
  backend/src/modules/location/location_service.py
  backend/src/modules/party/party_router.py
  backend/src/modules/party/party_service.py
  backend/src/modules/student/student_router.py
  backend/src/modules/student/student_service.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/incident/incident_utils.py
  backend/test/modules/location/location_router_test.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_utils.py
  backend/test/modules/party/test_party_list_features.py
  backend/test/modules/student/student_router_test.py
  backend/test/modules/student/student_utils.py
  backend/test/utils/pagination_test_utils.py
  frontend/src/lib/api/account/account.service.ts
Due: pyright, tsc, prettier

chore: update python module path
  backend/src/modules/account/account_router.py
  backend/src/modules/party/party_router.py
  backend/src/modules/student/student_router.py
Due: pyright

chore: update frontend packages
  .github/workflows/backend-test.yml
  README.md
  frontend/package-lock.json
Due: prettier

feat: make backend launch config always reset dev
  .vscode/launch.json
  .vscode/tasks.json
Due: none

feat: schema generation, add reset_dev to backend launch, add unique onyen to account
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  SQL_SERVER_MIGRATION.md
  backend/script/generate_schema.py
  backend/script/reset_dev.py
  backend/src/core/authentication.py
  backend/src/modules/account/account_entity.py
  backend/src/modules/account/account_model.py
  backend/src/modules/account/account_service.py
  backend/src/modules/student/student_entity.py
  backend/src/modules/student/student_model.py
  backend/test/modules/account/account_router_test.py
  backend/test/modules/account/account_service_test.py
  backend/test/modules/account/account_utils.py
  frontend/shared/mock_data.json
  frontend/src/app/staff/_components/account/AccountTable.tsx
  frontend/src/app/staff/_components/account/AccountTableForm.tsx
  frontend/src/app/staff/_components/party/details/StudentInfoChipDetails.tsx
  frontend/src/app/staff/_components/student/StudentTable.tsx
  frontend/src/app/staff/_components/student/StudentTableForm.tsx
  frontend/src/lib/api/account/account.types.ts
  frontend/src/lib/api/student/student.types.ts
  frontend/src/lib/mockData.ts
Due: pyright, tsc, prettier

row unhighlights after user isn't editing anymore
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

chore: update mssql python dep
  backend/pyproject.toml
Due: none

feat: police view date filtering
  frontend/src/app/police/page.tsx
  frontend/src/lib/api/party/party.service.ts
Due: tsc, prettier

Highlight Currently Editing Row In Table (#176)
  frontend/src/app/staff/_components/shared/table/TableTemplate.tsx
Due: tsc, prettier

built base changes to create mobile layout and added new split date component for mobile view
  frontend/src/app/police/_components/EmbeddedMap.tsx
  frontend/src/app/police/_components/SplitDateComponent.tsx
  frontend/src/app/police/page.tsx
Due: tsc, prettier

added final changes, cleaned up transition from mobile to desktop
  frontend/src/app/police/page.tsx
Due: tsc, prettier

cleaning up some styling between transitions
  frontend/src/app/police/page.tsx
Due: tsc, prettier

feat: Ensure contact two differs from contact one when creating or updating a party
  backend/src/modules/party/party_service.py
  backend/test/modules/party/party_router_test.py
  backend/test/modules/party/party_service_test.py
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
  frontend/src/app/student/_components/PartyRegistrationForm.tsx
  frontend/src/app/student/new-party/page.tsx
Due: pyright, tsc, prettier

fix failing tests
  backend/test/modules/account/account_router_test.py
Due: pyright

Disabled Validation
  backend/src/modules/party/party_service.py
  frontend/src/app/staff/_components/party/PartyTableForm.tsx
Due: pyright, tsc, prettier

fix: update test for admin location hold validation bypass
  backend/test/modules/party/party_router_test.py
Due: pyright

fix: env var validation, remove redundant path
  .github/workflows/backend-test.yml
  backend/script/create_db.py
  backend/script/create_test_db.py
  backend/script/delete_db.py
  backend/script/reset_dev.py
  backend/src/core/database.py
Due: pyright

police incidence view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/police/_components/PartyList.tsx
  frontend/src/app/police/_components/addIncidentDialog.tsx
  frontend/src/components/icons/navyFlag.svg
  frontend/src/components/icons/redFlag.svg
  frontend/src/components/icons/yellowFlag.svg
  frontend/src/components/ui/hover-card.tsx
Due: tsc, prettier

bug: fixed registration checkbox not reflecting database
  frontend/src/app/staff/_components/student/StudentTable.tsx
Due: tsc, prettier
